<a href="#" class="button submit">
    <span>  
        {{{_buttons.submit}}} 
    </span>
</a>
<a href="#" class="button reset">
    <span>
        {{{_buttons.reset}}} 
    </span>
</a> 
<a href="#" class="button model">
    <span> 
        {{{_buttons.showCorrectAnswer}}} 
    </span>
</a>
<a href="#" class="button user">
    <span>
        {{{_buttons.hideCorrectAnswer}}} 
    </span>
</a>