<!-- @TODO course|project -->
<div id="projectDetail" class="container">
  <div class="row">
    <form role="form" class="col-md-8 col-md-offset-3">
      <div class="form-group">
        <label for="projectDetailTitle">Project Title</label>
        <input type="text" class="form-control" id="projectDetailTitle" placeholder="Project Title" value="{{ name }}">
      </div>
      <div class="form-group">
        <label for="projectDetailDescription">Project Description</label>
        <textarea class="form-control" id="projectDetailDescription" placeholder="Project Description">{{ description }}</textarea>
      </div>
      <div class="hidden">
        <input type="hidden" value="{{ id }}" id="projectDetailId">
      </div>
      <button id="projectDetailSubmit" type="submit" class="btn btn-success">Save</button>
      <button id="projectDetailCancel" type="button" class="btn">Cancel</button>
    </form>
  </div>
</div>