<div class="frameworkImport-inner">
    <div class="frameworkImport-description col-row tb-row">
        <div class="col-40">
            {{displayName}}
        </div>
        <div class="col-20 col-centered">
            {{currentVersion}}
        </div>
        <div class="col-20 col-centered">
            {{newVersion}}
        </div>
        <div class="col-20 col-centered status">
            {{status}}
        </div>
    </div>
</div>