<div class="frameworkImportPlugin-headings tb-heading col-row tb-row">

  <div class="frameworkImportPlugin-heading col-40">
    <h4 class="tb-col-inner">{{t 'app.name'}}</h4>
  </div>

  <div class="frameworkImportPlugin-heading col-20 col-centered">
    <h4 class="tb-col-inner">{{t 'app.importversion'}}</h4>
  </div>

  <div class="frameworkImportPlugin-heading col-20 col-centered">
    <h4 class="tb-col-inner">{{t 'app.atversion'}}</h4>
  </div>

  <div class="frameworkImportPlugin-heading col-20 col-centered">
    <h4 class="tb-col-inner">{{t 'app.action'}}</h4>
  </div>

</div>
<ul class="frameworkImportPlugin-plugins clearfix grid-layout"></ul>