.sidebar {
	position:fixed;
	top:0px;
	left:0px;
	width:260px;
	height:100%;
	background-color:#454545;
	overflow-y:auto;
	overflow-x:hidden;
	color:#fff;
    a {
        color:#fff;
        &:hover, &:focus {
            color:#e2e2e2;
        }
    }
}

.sidebar-inner {
	padding: 70px 30px;
	height:100%;
}

.sidebar-breadcrumb {
	position:relative;
	top: -40px;
}

.sidebar-breadcrumb-inner {
	margin-bottom:30px;
}

.sidebar-item-container {
	position:relative;
	height:100%;
}

.sidebar-item {
	position:absolute;
	left:10%;
	opacity:0;
	width:200px;
	h1, h2, h3, h4, h5, h6 {
		color:#fff;
	}
	label {
		display:block;
		margin-bottom:4px;
	}
}

.sidebar-row, select.sidebar-row {
	display:block;
	margin-bottom:20px;
}