.sidebar-filter {
    position: absolute;
    left: 220px;
    top: 40%;
    min-height: 200px;
    border:1px solid #e2e2e2;
    border-left:none;
    background-color: #fff;
}

.sidebar-filter-toolbar {
    border-bottom:1px solid #e2e2e2;
}

.sidebar-filter-search {
    padding:10px;
    border-bottom:1px solid #e2e2e2;
}

.sidebar-filter-item {
    display:block;
    width:100%;
    &.selected {
        background-color:#d2d2d2;
    }
}