// Standard Classes
// ================

.display-none {
	display:none;
}

.visibility-hidden {
	visibility:hidden;
}

#app {
	margin-top:40px;
	margin-left:260px;
}

.app-inner {
	position:relative;
	padding:30px;
}