// Context Menu styling
// ==============
@context-menu-color:#454545;
@context-menu-text-color:#fff;

@context-menu-icon-color:#fff;
@context-menu-icon-hover-color:darken(@context-menu-color, 30%);

@context-menu-item-color:#3eb4e4;
@context-menu-item-hover-color:darken(@context-menu-item-color,10%);

@context-menu-item-text-color:#fff;
@context-menu-item-text-hover-color:#fff;

.context-menu {
    background-color: @context-menu-color;
    color: @context-menu-text-color;
    .context-menu-toolbar {
        border-bottom: 1px solid darken(@context-menu-item-color, 10%);
    }
    .context-menu-toolbar .icon {
        padding:5px;
        color: @context-menu-icon-color;
        &:hover {
            color:@context-menu-icon-hover-color;
        }
    }
    .context-menu-inner {
        border-left: 5px solid darken(@context-menu-color, 10%);
    }
    .context-menu-item {
        .context-menu-item-open {
            text-decoration: none;
            color: @context-menu-item-text-color;
            border-bottom: 1px solid darken(@context-menu-item-color, 10%);
            &:hover {
                color:@context-menu-item-text-hover-color;
                background-color: @context-menu-item-hover-color;
            }
        }
        h5 {
            color: @context-menu-item-text-color;
            font-size:16px;
            font-weight:normal;
        }
    }
}

a.open-context-icon {
    color: @context-menu-icon-color;
}