form label {
    display:block;
    font-weight:bold;
    font-size:13px;
}

.form-group {
    margin-bottom:20px;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="url"], 
input[type="phone"], 
input[type="tel"], 
input[type="number"], 
input[type="datetime"], 
input[type="date"], 
input[type="search"], 
input[type="datetime-local"], 
textarea, 
select[multiple="multiple"] {
    padding: 18px 10px;
    border-radius: 2px;
    border: solid 1px #ccc;
    font-size: 13px;
    &:focus {
        outline:none;
        border-color:#666;
        box-shadow:none;
    }
}