.editor-inner {
	margin-right:400px;
}

.add-control {
  text-align: right;  
}

.editor-view {

  .editor-container {
    position:relative;
    width: 100%;
    height: 100%;
  }

  .editor-panel {
    float:right;
    width:10%;
  }

  .editor {
    float:left;
    width:90%;
    height:100%;
    background-color: lightgrey;
  }

  .page-detail {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid;

    .page-add-article {
      border: 1px solid;
      bottom: 0;
      position: absolute;
      right: 0;
      width: 100px;
    }
  }

  .page {
    border: 1px solid;

    .page-name {
      font-size: 24px;
    }

    .page-description {
      font-size: 16px;
    }

    &-edit-panel {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .page-article {
    border: 0.5px dashed #ADD8E6;
    margin: 20px;
    position: relative;
    width: 95%;

    &-edit-panel {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .block {
    border: 0.5px dashed #ADD8E6;
    margin: 20px;
    position: relative;
    width: 95%;

    &-edit-panel {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .component {
    margin: 20px;
    position: relative;

    &-left {
      width: 48%;
      float: left;
      border: 1px solid peru;
    }

    &-right {
      width: 48%;
      float: right;
      border: 1px solid peru;
    }

    &-full {
      width: 100%;
      border: 1px solid cadetblue;
    }

/*
    &-edit-panel {
      position: absolute;
      right: 0;
      top: 0;
    }
    */
  }

  .paste-zone {
    height:50px;
    border: 2px dashed #B0B0B0;
    background-color: #CECECE;
  }

  .page-article-components:after {
    clear: both;
    content: "";
    display: block;
  }
}