.location-forgot {
     background-image:url(assets/login_bg.jpg);
     color: white;
	.sidebar, .navigation {
		display:none;
	}     
}

div.forgot-password {
    max-width: 450px;
    margin: 0 auto;

    div {
        margin-bottom: 20px;
    }
}

div.forgot-password-success {
    padding: 20px; 
}