@import '../../../less/fonts.less';

.module-user {  
	&.location-login {

        color: #fff;    
        background-image:url(assets/login_bg.jpg);
        background-size: 100%;
		.sidebar, .navigation {
			display:none;
		}
		#app {
			margin-left:0px;
		}
	}
}

.login-logo {
    margin:120px 0 80px 140px;
}

.login-title {
    padding-left: 153px;
    padding-bottom: 10px;
    font-size: 32px;
}

.error {
    position: absolute;
}
    
.login {
    max-width:450px;
    margin:0 auto;
}

.login-form-submit {
    width: 85%;
    height: 65px;
}

.login-form {
    padding-bottom: 50px;
}

.login-fields {
    width: 500px;
    margin: 20px 0 20px 0;


    .login-input-username, .login-input-password{
        font-size: 24px;
        border-radius: 4px;
        border: 0;
        background-color: fade(#fff, 40%);
        color: white;
        margin-bottom: 5px;
        height: 40px;
    }

    .login-form-submit {
        border-radius: 4px;
        width: 421px;
        height: 65px;
    }
}

.login-remember-me {
    float: left;
    padding-left: 40px;
}

.remember-me-label {
    padding-left: 10px;
    display: inline;
   font-family: @font-raleway-extralight;
}

.login-forgot-password {
    font-family: @font-raleway-extralight;
    float: right;
    padding-right: 70px;
    a {
        color: white;
        text-decoration: none;
    }
}


.login-already-logged-in {
    text-align:center;

}
