.module-user {  
	&.location-login, &.location-forgot {

        color: #fff; 
        background-image: url(assets/login_bg.jpg);
        background-size: cover;
		.sidebar, .navigation, .location-title {
			display: none;
		}
		#app {
			margin-left: 0px;
		}
	}

    .login-logo {
        margin: 60px 146px;
    }

    .login-title {
        margin: 0 153px;
        font-size: 32px;
    }

    .error {
        color:white;
    }
        
    .login {
        max-width: 450px;
        margin: 0 auto;
    }

    .login-fields, .forgot-password-form {
        margin: 20px 0 20px 0;
        position: relative;

        .login-input-username, .login-input-password, .input-username-email {
            font-size: 20px;
            border-radius: 4px;
            border: 0;
            padding: 11px 20px;
            background-color: fade(#fff, 40%);
            color: white;
            margin-bottom: 5px;
            height: 40px;
        }
        input::-webkit-input-placeholder{
            color: white;
        }
        input:-moz-placeholder {
            color: white;
        }

        .input-username-email, .login-input-password, .login-input-username {
            width: 380px;
        }

        button {
            margin-bottom: 5px;
            width: 420px;
            height: 65px;
            font-size: 20px;
        }
    }

    .login-remember-me {
        float: left;
        font-size: 15px;
        margin-left: 40px;
    }

    .remember-me-label {
        padding-left: 10px;
        display: inline;
    }

    .remember-me-checkbox {
        vertical-align: middle;
    }

    .login-forgot-password {
        float: right;
        margin-right: 80px;
        a {
            font-size: 15px;
            color: white;
            text-decoration: none;
        }
    }


    .login-already-logged-in {
        text-align: center;

    }
}
