<div class="row">

  <div class="main">

    <h3>Forgotten password</h3>
    <form role="form">
      <div class="form-group">
        <label for="inputUsernameEmail">Username or email</label>
        <input type="text" class="form-control" id="inputUsernameEmail" tabindex="1">
      </div>
      <button type="submit" class="btn btn btn-primary">
        Reset my password
      </button>
    </form>
    
  </div>
    
</div>
