<div class="row logout">
  <div class="main">
      <div class="alert alert-warning">
        Are you sure you wish to <a id="linkLogout" href="#" class="alert-link">logout</a>?
      </div>
  </div>
</div>
