/node_modules/
/tmp
/data
/temp
/adapt_framework
/frontend/src/adaptbuilder/css/adapt.css
conf/config.json
.project
/frontend/build
/test_frontend/img
/nbproject/
/.settings
/frontend/src/templates/templates.js
/frontend/src/plugins/plugins.js
/plugins/content/component/versions/
/plugins/content/component/componentcache/
/plugins/content/extension/versions/
/plugins/content/extension/extensioncache/
/plugins/content/theme/versions/
/plugins/content/theme/extensioncache/
/plugins/content/menu/versions/
/plugins/content/bower/bowercache/
/routes/lang/en.json
/master/
/frontend/src/adaptbuilder/css/adapt.css
/frontend/src/adaptbuilder/js/
.idea
*.iml
.vagrant
.env
version.json
