/conf/config.json
/conf/migrate.json
/data

/frontend/build

/frontend/src/modules/modules.js
/frontend/src/plugins/plugins.js
/frontend/src/templates/templates.js

/node_modules/
/nbproject/
/master/

/plugins/content/component/versions/
/plugins/content/component/componentcache/
/plugins/content/extension/versions/
/plugins/content/extension/extensioncache/
/plugins/content/theme/versions/
/plugins/content/theme/extensioncache/
/plugins/content/menu/versions/
/plugins/content/bower/bowercache/

/temp
/test/.testcache
/tmp

/.settings

.idea
.project
.vscode
