---
language: node_js
node_js:
  - "4"
  - "5"
  - "6"

sudo: required

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

branches:
  only:
    - master
    - develop

git:
  depth: 10

services:
  - mongodb

before_install:
  - git --version
  - mongod --version
  - npm install -g adapt-cli
  - adapt --version

install:
  - npm config set spin false
  - npm install

matrix:
  fast_finish: true

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/984c2f87fa167719344b
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
