<div class="sidebar-item-inner">
{{!--     <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            {{t 'app.manageextensions'}}
        </h2>
    </div> --}}
</div>