<div>Extensions applied</div>
<div>There are currently no extensions applied on this project.</div>

<table class="table-bordered width-100">
    <thead>
        <tr>
            <th>Extension</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Trickle</td>
            <td>blah blah</td>
            <td><button class="btn red">Remove</button></td>
        </tr>
    </tbody>
</table>

<table class="table-bordered width-100">
    <thead>
        <tr>
            <th>Extension</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Trickle</td>
            <td>blah blah</td>
            <td><button class="btn red">Remove</button></td>
        </tr>
    </tbody>
</table>

