<div class="asset-management-inner clearfix">
    <div class="asset-management-assets-container">
        <div class="asset-management-no-assets display-none">There are no assets to show</div>
        <div class="asset-management-assets-container-inner">
        </div>
    </div>
    <div class="asset-management-preview-container">
        <div class="asset-management-no-preview">Select an asset to see a preview here</div>
        <div class="asset-management-preview-container-inner">
        </div>
    </div>
</div>