<div class="asset-management-modal-tags-inner">
    <div class="asset-management-modal-tags-toolbar">
        <div class="asset-management-modal-tags-toolbar-inner clearfix">
            <div class="asset-management-modal-tags-toolbar-title sidebar-filter-toolbar-title">
                {{title}}
            </div>
            <div class="asset-management-modal-tags-toolbar-close sidebar-filter-toolbar-close">
                <button class="fa fa-times"></button>
            </div>
        </div>
    </div>
    <div class="asset-management-modal-tags-search sidebar-filter-search">
        <input type="text" class="asset-management-modal-tags-search-input sidebar-filter-search-input" />
    </div>
    <div class="asset-management-modal-tags-items sidebar-filter-items">
        <div class="asset-management-modal-tags-items-inner">
            {{#each items}}
            <button class="asset-management-modal-tags-item sidebar-filter-item" data-title="{{title}}" data-id="{{_id}}">
                <div class="asset-management-modal-tags-item-inner">
                    {{#if _isUsed}}<i class="fa fa-check"></i>{{/if}}{{title}}
                </div>
            </button>
            {{/each}}
        </div>
    </div>
</div>
