<div class="asset-management-inner clearfix">
    <div class="asset-management-assets-container">
        <div class="asset-management-no-assets display-none">{{t 'app.noassetsfound'}}</div>
        <div class="asset-management-assets-container-inner">
        </div>
    </div>
    <div class="asset-management-preview-container">
        <div class="asset-management-no-preview">{{t 'app.assetpreviewinstruction'}}</div>
        <div class="asset-management-preview-container-inner">
        </div>
    </div>
</div>