<button class="asset-management-modal-add-asset">
    <span class="asset-management-modal-add-asset-inner">
        <i class="fa-upload fa"></i>{{t 'app.uploadnewasset'}}
    </span>
</button>

<input type="text" class="asset-management-modal-filter-search" placeholder="{{t 'app.search'}}"/>
<button class="sidebar-inline-input-button asset-management-modal-filter-clear-search">
    <i class="fa fa-times"></i>
</button>

<button class="asset-management-modal-add-tag">
    <span class="asset-management-modal-add-tag-inner">
        <i class="fa-plus fa"></i>{{t 'app.addtag'}}
    </span>
</button>