<div class="sidebar-item-inner">
    <div class="separator"></div>

    <button type="submit" class="primary-color asset-management-upload-sidebar-upload-button action-primary">
        <span>{{t 'app.upload'}}</span>
    </button>
    <button type="button" class="asset-management-upload-sidebar-cancel-button action-secondary">
        <span>{{t 'app.cancel'}}</span>
    </button>
</div>
