<div class="separator"></div>
<div class="sidebar-item-inner">
  <button type="submit" class="action-primary course-import-sidebar-save-button save">
    <span>{{t 'app.importsidebarbutton'}}</span>
  </button>
  <button type="button" class="cancel action-secondary">
    <span>{{t 'app.cancel'}}</span>
  </button>
</div>
