<a href="#" class="global-menu-item-inner">
    <div class="global-menu-item-icon">
        <span class="icon"></span>
    </div>
    <div class="global-menu-item-text">
        <div class="global-menu-item-text-inner"><i class="fa {{icon}} fa-fw"></i>&nbsp;
            {{text}}
        </div>
    </div>
</a>
