<div class="buttons-inner">
    <div class="buttons-cluster clearfix">
        {{#unless _shouldDisplayAttempts}}
        <div class="buttons-marking-icon icon display-none">
        </div>
        {{/unless}}
        <button class="buttons-action">{{{_buttons.submit}}}</button>
        <button class="buttons-feedback" disabled="true">{{{_buttons.showFeedback}}}</button>
    </div>
    {{#if _shouldDisplayAttempts}}
    <div class="buttons-display">
        <div class="buttons-marking-icon icon display-none">
        </div>
        <div class="buttons-display-inner">
        </div>
    </div>
    {{/if}}
</div>