<div class="drawer-inner" role="complementary" aria-label="{{_accessibility._ariaLabels.drawer}}">
	<div class="drawer-toolbar clearfix">
		<div class="drawer-back-button">
		<a href="#" class="drawer-back icon icon-controls-small-left" aria-label="{{previous}}">
		</a>
		</div>
		<div class="drawer-close-button">
		<a href="#" class="drawer-close icon icon-cross" aria-label="{{closeDrawer}}">
		</a>
		</div>
	</div>
	<div class="drawer-holder">
	</div>
</div>