<a class="drawer-item-open {{className}}" href="#">
	<div class="drawer-item-title">
		<h5 class="drawer-item-title-inner">{{{title}}}</h5>
	</div>
	<div class="drawer-item-description">
		<div class="drawer-item-description-inner">{{{description}}}</div>
	</div>
</a>