{{! Maintainers - Brian Quinn}}
{{! .loading-image contains the overlay with the animated image which is displayed while content is loaded in}}
<div class="loading">
    <div class="loading-image"><h3>Loading...</h3></div>
</div>