<div class="notify-push-inner" role="dialog">
	<div class="notify-push-title">
		<div class="notify-push-title-inner">
			{{{title}}}
		</div>
	</div>
	<div class="notify-push-body">
		<div class="notify-push-body-inner">
			{{{body}}}
		</div>
	</div>
</div>
<a href="#" class="notify-push-close" role="button">
	<span class="icon icon-cross"></span>
</a>