{{! Maintainers - Daryl Hedley}}
{{! .article-container: Adapt will place the pages articles inside this class}}
<div class="page-inner article-container" role="main" aria-label="{{_accessibility._ariaLabels.page}}">
    {{! Check if a page title exist and render it}}
    {{#if displayTitle}}
    <div class="page-title" role="heading">
        <h1 class="page-title-inner">
            {{{displayTitle}}}
        </h1>
    </div>
    {{/if}}
</div>