<div class="separator"></div>
<div class="sidebar-item-inner">
  <div class="action-button-group">
    <button type="submit" class="action-primary save">
      <span>{{t 'app.save'}}</span>
    </button>
    <button type="button" class="cancel action-secondary">
      <span>{{t 'app.cancel'}}</span>
    </button>
  </div>
</div>