<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{productName}}</title>
    <link rel="icon" type="image/png" href="/css/assets/favicon.png"/>
    <link rel="stylesheet" href="/css/adapt.css"/>
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-store, no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    {{#if useAnalytics}}
      <!-- Google Analytics -->
      <script>
        window.ga = window.ga || function() { (ga.q = ga.q || []).push(arguments) };
        ga.l = +new Date;
        ga('create', '{{trackingId}}', 'auto');
        ga('send', 'pageview');
      </script>
      <script async src='//www.google-analytics.com/analytics.js'></script>
      <!-- End Google Analytics -->
    {{/if}}
  </head>
  <body>
    <div id="app" class="app container">
      <div class="loading">
        <div class="loading-inner">
          <div class="loading-logo">
            <img src="css/assets/adapt-learning-logo-outline.png">
          </div>
          <div class="loading-anim">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
