<div class="sidebar-row">
  <button class="{{className}}">
    <span class="{{className}}-inner">
      <i class="fa fa-chevron-right primary-color"></i>
      {{label}}
    </span>
  </button>
</div>
