<div class="row">

    <div class="main">

      <h3>Forgotten password</h3>
      <form role="form">
        <div class="form-group">
          <label for="inputUsernameEmail">Username or email</label>
          <input type="text" class="form-control" id="inputUsernameEmail">
        </div>
       <!--  <div class="form-group">
          <a id="linkForgotPassword" class="pull-right" href="#">Forgot password?</a>
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <div class="checkbox pull-right">
          <label>
            <input id="chkRememberMe" type="checkbox">
            Remember me </label>
        </div> -->
        <button type="submit" class="btn btn btn-primary">
          Reset my password
        </button>
      </form>
    
    </div>
    
  </div>