<div class="row loginForm">
  <div class="main">

    {{#if isAuthenticated}}
    <h3>You are logged in, please got the <a id="linkDash" href="/#dashboard">Dashboard</a></h3>
    {{else}}
    <h3>Please Log In, or <a id="linkRegister" href="/register">register</a></h3>

    <div id="loginFailed" class="alert alert-danger hide">
      Incorrect username or password
    </div>
    <form role="form">
      <div class="form-group">
        <label for="inputUsernameEmail">Username or email</label>
        <input type="text" class="form-control" id="inputUsernameEmail">
      </div>
      <div class="form-group">
        <a id="linkForgotPassword" class="pull-right" href="#">Forgot password?</a>
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword">
      </div>
      <div class="checkbox pull-right">
        <label>
          <input id="chkRememberMe" type="checkbox">
          Remember me </label>
      </div>
      <button type="submit" class="btn btn btn-primary">
        Log In
      </button>
    </form>
    {{/if}}
  </div>
</div>