<div class="row">
  <div class="col-md-4">
    <strong>{{name}}</strong>
    <div>{{description}}</div>
    <strong>Created At</strong>
    <div>{{createdAt}}</div>
    <strong>Created By</strong>
    <div>{{createdBy}}</div>
  </div>
  <div class="col-md-8">
    <div class="project-content-view"></div>
  </div>
</div>