<div class="row">
  <div class="main">
    <form role="form">

      <div class="form-group">
        <label for="inputName">Title</label>
        <p class="form-control-static">{{ title }}</p>
      </div>

      <button id="submitBtn" type="submit" class="btn btn-success">
        Save
      </button>
      <button id="cancelBtn" type="button" class="btn btn-danger">
        Cancel
      </button>

    </form>
  </div>
</div>
