doctype 5
html

    head
        title Adapt Builder
        link(rel='stylesheet', href='adaptbuilder/css/adapt.css')
        script(src='/libraries/modernizr.js')
        script(src='/adaptbuilder/js/scriptLoader.js')
    body
        #nav
        #app