doctype 5
html

    head
        title Adapt Plugins
        link(rel='stylesheet', href='/css/adapt-registry.css')
        script(src='/js/libraries/modernizr.js')
        script(src='/js/scriptLoader.js')
    body
        #wrapper