doctype 5
html
    head
        title Adapt Builder
        link(rel='stylesheet', href='/adaptbuilder/css/adapt.css')
        script(src='/libraries/modernizr.js')
        script(src='/libraries/require.js' data-main='/adaptbuilder/js/adaptbuilder.min.js')
    body
        #app