<div class="location-buttons">
	{{#if secondary}}
	<button class="location-button-secondary">
		{{{secondary}}}
	</button>
	{{/if}}
	{{#if primary}}
	<button class="location-button-primary">
		{{{primary}}}
	</button>
	{{/if}}
</div>
<div class="location-title-inner">
	<div class="location-title-directory">
		<a href="#/dashboard">{{{subTitle}}}</a>
	</div>
	<div class="location-title-page">
		{{{title}}}
	</div>
</div>

