<div class="location-buttons">
	<button class="location-button-secondary">
		Preview
	</button>
	<button class="location-button-primary">
		Publish
	</button>
</div>
<div class="location-title-inner">
	<div class="location-title-directory">
		<a href="#/dashboard">{{{subTitle}}}</a>
	</div>
	<div class="location-title-page">
		{{{title}}}
	</div>
</div>

