<div class="inner">
  <form class="courseImport forms" action="/import" method="post" autocomplete="off">
      <div class="form-group">
        <label for="file">
            {{t 'app.assetfile'}} <span class="req">*</span><br>
            {{t 'app.importinstruction'}}
            <span class="error"></span>
        </label>
        {{#if path}}
        <div class="asset-management-new-asset-file">
            File has been uploaded
        </div>
        {{else}}
        <input type="file" class="asset-file" name="file">
        <div class="progress-container">
            <div class="progress-bar">
                <div class="progress-percent">0%</div>
            </div>
        </div>
        {{/if}}
      </div>
  </form>
</div>
