<div class="inner">
  <form class="plugin-form forms plugin-form" action="/api/upload/contentplugin" method="post">
    <div class="form-group">
      <label for="file">
        {{t 'app.pluginfile'}} <span class="req">*</span>
        <span class="field-error display-none" data-error="">{{t 'app.required'}}</span>
      </label>
      <input type="file" class="plugin-file" name="file">
      {{maxUploadSize}}
    </div>
  </form>
</div>
