<div class="pluginManagement-inner inner">
    <div class="pluginType-headings tb-heading col-row tb-row">

        <div class="pluginType-heading pluginType-heading-title col-20">
            <h4 class="pluginType-heading-title-inner tb-col-inner">Name</h4>
        </div>

        <div class="pluginType-heading pluginType-heading-description col-40">
            <h4 class="pluginType-heading-description-inner tb-col-inner">Description</h4>
        </div>

        <div class="pluginType-heading pluginType-heading-version col-10 col-centered">
            <h4 class="pluginType-heading-version-inner tb-col-inner">Version</h4>
        </div>

        <div class="pluginType-heading pluginType-heading-enabled col-10 col-centered">
            <h4 class="pluginType-heading-action-inner tb-col-inner">Enabled</h4>
        </div>

        <div class="pluginType-heading pluginType-heading-action col-10 col-centered">
            <h4 class="pluginType-heading-action-inner tb-col-inner">Action</h4>
        </div>

    </div>
    <ul class="pluginManagement-plugins clearfix grid-layout">
    {{!-- Plugins get render in here --}}
        <div class="pluginManagement-loading">
            Loading...
        </div>
    </ul>

    <div class="pluginType-bulk-actions tb-row">
        <div class="pluginType-action-buttons">
            <button class="btn tertiary-hollow refresh-all-plugins">Refresh All</button>
        </div>
    </div>
</div>
