@colorlabel-1: #616161;
@colorlabel-2: #bdbdbd;
@colorlabel-3: #d32f2f;
@colorlabel-4: #ef9a9a;
@colorlabel-5: #7b1fa2;
@colorlabel-6: #ce93d8;
@colorlabel-7: #1976d2;
@colorlabel-8: #90caf9;
@colorlabel-9: #388e3c;
@colorlabel-10: #a5d6a7;
@colorlabel-11: #f57c00;
@colorlabel-12: #ffcc80;
@colorlabel-13: #5d4037;
@colorlabel-14: #bcaaa4;
