@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700);

@font-title: 'Raleway', sans-serif;
@font-family: 'Open Sans', sans-serif;

@font-size:13px;
@font-weight:400;   

// Fonts sizes

body {
    font-family:@font-family;
    font-size: @font-size;
    font-weight:@font-weight;
}

h1 {
    font-size:15px;
    font-family: @font-title;
    font-weight:300;
}

h2 {
    font-weight:300;
}

h3 {
    font-weight:300;
}

h4 {
    font-weight:200;
}

h5 {
    font-weight:200;
}

h6 {
    font-weight:200;
}

button, input, textarea {
    font-family:@font-family;
    font-size:13px;
}