@toolbar-height: 30px;
@preview-height: 247px;

.project-list-item {
    overflow:hidden;
    border-radius:3px;
    background-color:#fff;
    transition:background-color 0.3s;
    transition:box-shadow 0.3s;
    box-shadow: 0px 0px 3pt 2pt transparent;
    &:hover {
        box-shadow: 0px 0px 3px 3px #e0e0e0;
        cursor: pointer;
        .project-settings {
            top:0%;
            opacity:1;
        }
    }
    &.selected {
        color:#fff;
        background-color:#333c4e;
        .project-settings {
            top:0%;
            opacity:1;
        }

        .tags {

          li.tag {
            background-color:#293141;

            span {
              color:#E0E8F7;
              background-color:#293141;
            }

          }
        }
    }
    &.listing {
        width: 700px;
    }

    img {
        display:block;
    }

    .tags {

      li.tag {
        margin:2px 5px 2px 0px;
        padding:4px;
        display: inline-block;
        background-color:#9CABC4;

        span {
          color:#fff;
        }
      }


    }

    div.tag-container {
        height: 34px;
        overflow-y: auto;
    }
}

.project-header-inner {
    position:relative;
}

.project-detail-title {
    margin-bottom:10px;
}

.project-settings {
    font-size: 16px;
    width:100%;
    height: @toolbar-height;
    opacity:1;
    background-color:rgba(255,255,255,1);
    transition:all 0.3s;
    a {
        color:#3e4960;
    }
}

.project-settings-inner {
    padding: 3px 6px;

    a.course-delete {
        float: right;
    }
}

.project-details-inner {
    padding:20px;
}

.project-details-row {
    font-size:11px;
}

.projects-details-label {
    color:#15a4fa;
    font-weight:600;
}