.project-list-item {
    overflow:hidden;
    border-radius:3px;
    background-color:#fff;
    height: 380px;
    transition:background-color 0.3s;
    transition:box-shadow 0.3s;
    box-shadow: 0px 0px 3pt 2pt transparent;
    &:hover {
        box-shadow: 0px 0px 3px 3px #e0e0e0;
        cursor: pointer;
        .project-settings {
            top:0%;
            opacity:1;
        }
    }
    &.selected {
        color:#fff;
        background-color:#333c4e;
        .project-settings {
            top:0%;
            opacity:1;
        }

        .tags {

          li.tag {
            background-color:#293141;

            span {
              color:#E0E8F7;
              background-color:#293141;
            }

          }
        }
    }
    &.listing {
        width: 700px;
    }

    .tags {

      ul.tags {
        margin: 0px 2px;
      }

      li.tag {
        margin: 1px 0px 1px 0px;
        display: inline-block;
        background-color:#9CABC4;

        span {
          margin: 5px;
          color:#fff;
        }
      }


    }

    div.tag-container {
        height: 34px;
        overflow-y: auto;
    }
}

.project-header-inner {
    position:relative;
}

.project-detail-title {
    margin-bottom:10px;
}

.project-settings {
    position: absolute;
    top: 0%;
    left: 0px;
    font-size: 16px;
    width:100%;
    opacity:1;
    background-color:rgba(255,255,255,1);
    transition:all 0.3s;
    a {
        color:#3e4960;
    }
}

.project-settings-inner {
    padding:6px;

    a.course-delete {
        float: right;
    }
}

.project-details-inner {
    padding:20px;
}

.project-details-row {
    font-size:11px;
}

.projects-details-label {
    color:#15a4fa;
    font-weight:600;
}

.pos.one {
    top: 25px;
    height: 100%;
    width: 100%;
    z-index: 4;
    position: absolute;
    background-color: rgba(0,0,0,0);
}

.pos.two { 
    top: 25px;
    height: 100%;
    width: 80%;
    z-index: 5;
    position: absolute;
    background-color: rgba(0,0,0,0);
    margin-left: 10%;
}

.pos.three {
    top: 25px;
    height: 100%;
    width: 60%;
    z-index: 6;
    position: absolute;
    background-color: rgba(0,0,0,0);
    margin-left: 20%;
}

.imglarge {
    -ms-zoom: 0.25;
    -moz-transform:  scale(0.25);
    -moz-transform-origin: 0% 0px;
    -o-transform: scale(0.25);
    -o-transform-origin: 0px 0px;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
    top: 25px;
    width: 425%;
    height: 888px;
    z-index: 1;
    position: absolute;
}

.imgmedium { 
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: translateZ(0) scale(0.25);
    -webkit-transform-origin: 0 0;
    top: 25px;
    width: 320%;
    height: 888px;
    display: block;
    z-index: 2;
    position: absolute;
    margin-left: 10%;
}

.imgsmall {
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0px 0px;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
    top: 25px;
    width: 240%;
    height: 888px;
    display: block;
    z-index: 3;
    position: absolute;
    margin-left: 20%;
}

.frame {
    margin: 0 auto;
    height: 247px;
    margin-bottom: 10px;
    background-color: #293141;
    width: 100%;
}

.filler {
    padding-top: 27px;
    width: 300px;
    height: 222px;
}
