<div class="sidebar-item-inner">
{{!--     <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            {{t 'app.menupicker'}}
        </h2>
    </div> --}}
    <button class="editor-menusettings-edit-sidebar-save action-primary">
        <span class="editor-menusettings-edit-sidebar-save-inner">
            {{!-- <i class="fa fa-save"></i> --}}{{t 'app.save'}}
        </span>
    </button>
</div>