if options.showHeader
	extends _wrapper.jade
	block title
		title options.title
	block content
		div.loginbox
		    form(name="login", action="api/login", method="post")
		      input(type="text", name="user")
		      input(type="password", name="pass")
		      input(type="submit", value="login")
else
	div.loginbox
	    form(name="login", action="api/login", method="post")
	      input(type="text", name="user")
	      input(type="password", name="pass")
	      input(type="submit", value="login")