.dashboard {
    overflow-y:scroll;
    ul {
        list-style-type: none;
    }
    li {
        margin-bottom:30px;
    }
}

.dashboard-options-container {
    height: 30px;
}

ul.dashboard-options {
    float: right;
    color: #333C4E;
    padding-right: 20px;
    padding-top: 14px;

    a {
        text-decoration: none;
        color: #333C4E;
        &:hover {
            color: #15a4fa;
        }
    }

    li {
        float: left;
    }
}

.dashboard-inner {
    padding:30px 30px 0px 0px;
}

.grid-layout {
    .project-list-item, .shared-project-list-item {
        margin-left: 30px;
        min-width: 240px;
        min-height: 320px;
        width: 22%;
        max-width:300px;
        display:inline-block;
        .project-image {
            width:100%;
            height:150px;
            background-image:url(/images/origami-project.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-right:1px solid #b7caed;
        }
        .project-details-tags {
            margin-top:8px;
        }
        .tag-container {
            display:none;
            position:absolute;
            width:100%;
            left:0;
            bottom:0px;
            padding:20px 0px;
            border-top:1px solid #eee;
            background-color:rgba(250,250,250,0.9);
            opacity:0;
        }
    }
}

.list-layout {
    margin-left:30px;
    .project-list-item, .shared-project-list-item {
        margin-left:0px;
        width:100%;
        .project-settings {
            border-bottom:1px solid #b7caed;
        }
        .project-image {
            width:40%;
            height:222px;
            background-image:url(/images/origami-project.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            float:left;
            border-right:1px solid #b7caed;
        }
        .project-details {
            float:left;
            width:59%;
        }
        .project-details-tags {
            margin-top:8px;
        }

        .tag-container {
            display:block!important;
            opacity:1!important;
        }
        .projects-details-tags-button,
        .projects-details-tags-button-hide {
            display:none;
        }
    }
}

.dashboard-sidebar-filter-input {
    width:168px;
}

.dashboard-sidebar-filter-clear {
    padding:6px;
}

#dashboard-tags_tagsinput {
    display:inline-block;
    padding:4px;
    border:none;
}

.dashboard-no-projects {
    text-align:center;
}

.sidebar-search-tag {
    margin-top: 40px;
}

.sidebar-tag {
    text-align: left;

     &.selected span:first-child i:before{
        content:'\f205';
    }
}

.search-highlight{
    //box-shadow: inset 0 0 8px 5px #ff0;
}
