<div class="asset-management-inner clearfix">
  <div class="asset-management-preview-container">
    <div class="asset-management-no-preview">Select an asset to see a preview here</div>
    <div class="asset-management-preview-container-inner">
    </div>
  </div>
  <div class="asset-management-assets-container">
      {{! toast notification}}
      <div class="asset-management-message"></div>
      
      <div class="asset-management-no-assets nothing-to-show display-none">
        <i class="fa fa-meh-o"></i>
        There are no assets to show.
      </div>
      <div class="asset-management-assets-container-inner">
      </div>
  </div>
</div>
