<div class="sidebar-item-inner">
    <div class="separator"></div>

    <button type="submit" class="primary-color asset-management-new-sidebar-save-button action-primary">
        <span>{{t 'app.save'}}</span>
    </button>
    <button type="button" class="asset-management-new-sidebar-cancel-button action-secondary">
        <span>{{t 'app.cancel'}}</span>
    </button>
</div>