<div class="inner">
  <div class="title">Filter by owner</div>
  <div class="checkbox input">
    <input type="checkbox" name="mine" id="showMine"/>
    <div class="icon">
      <i class="icon-checked fa fa-check-square-o"></i>
      <i class="icon-unchecked fa fa-square-o"></i>
    </div>
    <label for="showMine">Only show your uploads</label>
  </div>
</div>
