<div class="title">
  Filter by tags
  <a href="#" class="reset">remove all</a>
</div>
<div class="inner">
  <div class="tags">
    {{#each tags.models}}
      <div class="tag" id="{{attributes._id}}" title="{{attributes.title}}">{{attributes.title}}</div>
    {{/each}}
  </div>
</div>
