<div class="radios">
  <div class="radio input">
    <input type="radio" name="sort" id="title"/>
    <div class="icon"></div>
    <label for="title" selected>Title</label>
  </div>
  <div class="radio input">
    <input type="radio" name="sort" id="uploaded"/>
    <div class="icon"></div>
    <label for="uploaded" selected>Date uploaded</label>
  </div>
  <div class="radio input">
    <input type="radio" name="sort" id="edited"/>
    <div class="icon"></div>
    <label for="edited" selected>Date modified</label>
  </div>
</div>
