<div class="sidebar-item-inner">
    <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            Asset Management
        </h2>
    </div>
    <div class="sidebar-row">
        <button class="primary-color asset-management-sidebar-new">
            <span class="asset-management-sidebar-new-inner">
                Add new asset
            </span>
        </button>
    </div>
</div>
