<div class="inner">
  <div class="input">
    <input type="text" class="search" placeholder="{{t 'app.search'}}"/>
    <button class="clear">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
