<button class="asset-management-modal-add-asset secondary-color">
    <span class="asset-management-modal-add-asset-inner">
        <i class="fa-upload fa"></i>Upload a new asset
    </span>
</button>

<input type="text" class="asset-management-modal-filter-search" placeholder="{{t 'app.search'}}"/>
<button class="sidebar-inline-input-button asset-management-modal-filter-clear-search">
    <i class="fa fa-times"></i>
</button>

<button class="asset-management-modal-add-tag info-color">
    <span class="asset-management-modal-add-tag-inner">
        <i class="fa-plus fa"></i>Add Tag
    </span>
</button>