<div class="units-row">
    <div class="unit-30"><div class="new-asset-container"></div></div>
    <div class="unit-40"><div>&nbsp;</div><div class="assets-container units-row"></div></div>
    <div class="unit-30"><div class="asset-preview"></div></div>
</div>
