<div class="sidebar-item-inner">
    <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            Asset Management
        </h2>
    </div>
    <div class="sidebar-row">
    
        <button type="submit" class="primary-color asset-management-new-sidebar-save-button">
            <span>
                {{t 'app.upload'}}
            </span>
        </button>

        <button type="button" class="asset-management-new-sidebar-cancel-button">
            <span>
                {{t 'app.cancel'}}
            </span>
        </button>

    </div>
</div>