<div class="units-row">
    <div class="unit-33"><div class="new-asset-container"></div></div>
    <div class="unit-33"><div class="assets-container units-row"></div></div>
    <div class="unit-33">On the right</div>
</div>
