<div class="asset-inner units-row">
  <div class="asset-icon unit-30">
    {{#if_value_equals assetType "image"}}
      <i class="fa fa-file-image-o fa-3x"></i>
    {{/if_value_equals}}
    {{#if_value_equals assetType "audio"}}
      <i class="fa fa-file-audio-o fa-3x"></i>
    {{/if_value_equals}}
    {{#if_value_equals assetType "video"}}
      <i class="fa fa-file-video-o fa-3x"></i>
    {{/if_value_equals}}
    {{#if_value_equals assetType "other"}}
      <i class="fa fa-file-o fa-3x"></i>
    {{/if_value_equals}}
  </div>
  <div class="asset-description unit-70">
    <div class="asset-title">
      <h4 class="asset-title-inner">{{{title}}}</h4>
    </div>

    <div class="asset-description">
      <div class="asset-description-inner">{{{description}}}</div>
    </div>
    <div class="asset-size">
      <div class="asset-size-inner">{{{bytesToSize size}}}</div>
    </div>
  </div>
</div>
