<div class="sidebar-item-inner">
    <div class="separator"></div>

    <button class="asset-management-sidebar-new action-primary">
        <span class="asset-management-sidebar-new-inner">Add new asset</span>
    </button>

    <div class="separator"></div>
</div>
