{{#if tags.length}}
<a href="#" class="reset">remove all</a>
<div class="tags">
  {{#each tags.models}}
    <div class="tag" id="{{attributes._id}}" title="{{attributes.title}}">{{attributes.title}}</div>
  {{/each}}
</div>
{{/if}}
