<div class="row logout">
  <div class="main">
      <div class="alert alert-warning">
        {{ t 'app.areyousureyouwantto'}}&nbsp;<a id="linkLogout" href="#user/login" class="alert-link">{{lowerCase (t 'app.logout')}}</a>?
      </div>
  </div>
</div>
