<div class="row logout">
  <div class="main">
      <div class="alert alert-warning">
        {{t 'app.areyousureyouwantto'}}<a id="linkLogout" href="#user/login" class="alert-link">{{t 'app.logout'}}?</a>?
      </div>
  </div>
</div>
