<div class="row">
  <div class="main">
<form role="form">
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <p class="form-control-static">{{ email }}</p>
      </div>

      <div class="form-group">
        <label for="profileViewInputFName" class="control-label">First Name</label>
        <input type="text" id="profileViewInputFName" placeholder="{{ fname }}"/>
      </div>
      <div class="form-group">
        <label for="profileViewInputLName" class="control-label">Last Name</label>
        <input type="text" id="profileViewInputLName" placeholder="{{ lname }}"/>
      </div>
      <div class="form-group">
        <label for="profileViewInputLocation" class="control-label">Location</label>
        <input type="text" id="profileViewInputLocation" placeholder="{{ location }}"/>
      </div>

      <button id="profileViewSubmitBtn" type="submit" class="btn btn-success">
        Save
      </button>
      <button id="profileViewCancelBtn" type="button" class="btn btn-danger">
        Cancel
      </button>
    </form>
  </div>
</div>
