<div class="row">
  <div class="main">
<form role="form">

      <div class="form-group">
        <label for="inputEmail">Email</label>
        <p class="form-control-static">{{ email }}</p>
      </div>

      {{#if fname}}
      <div class="form-group">
        <label class="control-label">First Name</label>
        <p id="profileViewInputFName">{{ fname }}</p>
      </div>
      {{/if}}
      {{#if lname}}
      <div class="form-group">
        <label class="control-label">Last Name</label>
        <p id="profileViewInputLName">{{ lname }}</p>
      </div>
      {{/if}}
      {{#if location}}
      <div class="form-group">
        <label class="control-label">Location</label>
        <p id="profileViewInputLocation">{{ location }}</p>
      </div>
      {{/if}}

      <button id="profileViewSubmitBtn" type="submit" class="btn btn-edit" data-event="profile:edit">
        Edit
      </button>
    </form>
  </div>
</div>
