<h3>{{t 'app.passwordnotification'}}</h3>

<div class="message">
  <div class="error display-none">
    {{t 'app.passwordnotificationerror'}}
  </div>
</div>

<button type="submit" class="submit btn btn-green">
    {{t 'app.generatePassword'}}
  </button>