@import 'buttons';

.sidebar button.link {
  &:last-child { margin-bottom: 0; }

  padding: 20px 0;

  transition: all 0.3s;
  &:hover {
    color: @sidebar-item-hover-text-color;
  }

  i {
    color: @secondary-color;
    margin-right: 10px;
  }
}
