<div class="ribbon-inner" style="background-color: {{ this.generalRibbonBgColor }};">
    <div class="ribbon-msg" style="color: {{ this.generalRibbonTextColor }}">
        <div class="ribbon-icon"><i class="fa fa-info-circle fa-fw"></i></div>
        <div class="ribbon-msg-container">{{{ this.generalRibbon }}}</div>
    </div>
</div>