<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adapt Origin</title>
    <link rel="stylesheet" href="/adaptbuilder/css/adapt.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="core/libraries/modernizr.js"></script>
    <script type="text/javascript" src="core/libraries/require.js" data-main="core/app/app.js"></script>
  </head>
  <body>
    <div id="app" class="app container">
      <div class="location-title">
      </div>
      <div class="app-inner">
      </div>
      <div class="loading display-none">
        <div class="loading-image"><h3>Loading...</h3></div>
      </div>
    </div>
  </body>
</html>
