<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adapt Builder</title>
    <link rel="stylesheet" href="/adaptbuilder/css/adapt.css" />
    <link rel="stylesheet" href="core/libraries/font-awesome-4.2.0/css/font-awesome.min.css">
    <script type="text/javascript" src="core/libraries/modernizr.js"></script>
    <script src="//cdn.ckeditor.com/4.4.7/full-all/ckeditor.js"></script>
    {{#if isProduction}}
    <script type="text/javascript" src="core/libraries/require.js" data-main="adaptbuilder/js/origin.js{{#if dateStampAsString}}?{{dateStampAsString}}{{/if}}"></script>
    {{else}}
    <script type="text/javascript" src="core/libraries/require.js"></script>
    <script type="text/javascript" src="core/app/config.js"></script>
    <script type="text/javascript" src="core/app/app.js"></script>
    {{/if}}
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-store, no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <div id="app" class="app container">
      <div class="location-title">
      </div>
      <div class="app-inner">
      </div>
      <div class="loading">
        <div class="loading-inner">
          <div class="loading-image"><h3>Loading...</h3></div>
        </div>
      </div>
    </div>

    <!--[if IE 9 ]>
    <div style="display: none">
      <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
      <script>
          // Replace the <textarea id="editor1"> with a CKEditor
          // instance, using default configuration.
          CKEDITOR.replace('editor1');
      </script>
    </div>
    <![endif]-->
  </body>
</html>
