<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adapt Origin</title>
    <link rel="stylesheet" href="/adaptbuilder/css/kube.min.css" />
    <link rel="stylesheet" href="/adaptbuilder/css/adapt.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/libraries/modernizr.js"></script>
    <script type="text/javascript" src="/libraries/require.js" data-main="/adaptbuilder/js/adaptbuilder.min.js"></script>
  </head>
  <body>
    <div id="app" class="app container">
      <div class="location-title">
      </div>
      <div class="app-inner">
      </div>
      <div class="loading">
        <div class="loading-image"><h3>Loading...</h3></div>
      </div>
    </div>
  </body>
</html>
