<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adapt Origin</title>
    <link rel="stylesheet" href="/adaptbuilder/css/kube.min.css" />
    <link rel="stylesheet" href="/adaptbuilder/css/adapt.css" />
    <script type="text/javascript" src="/libraries/modernizr.js"></script>
    <script type="text/javascript" src="/libraries/require.js" data-main="/adaptbuilder/js/adaptbuilder.min.js"></script>
  </head>
  <body>
    <div id="app" class="container"></div>
  </body>
</html>
