<div class="separator"></div>
<div class="sidebar-item-inner">
    <button class="editor-theming-sidebar-save action-primary">
        <span class="editor-theming-sidebar-save-inner">
            {{t 'app.save'}}
        </span>
    </button>
    {{! '.action-btn' used to target '.sidebar button[class*=" action-"]'}}
    <button class="editor-theming-sidebar-savePreset secondary-hollow action-btn">
        <span class="editor-theming-sidebar-savePreset-inner">
            {{t 'app.savepreset'}}
        </span>
    </button>
    <button class="editor-theming-sidebar-cancel action-secondary">
        <span class="editor-theming-sidebar-cancel-inner">
            {{t 'app.cancel'}}
        </span>
    </button>
</div>