<div class="separator"></div>
<div class="sidebar-item-inner">
  <button class="editor-theming-sidebar-save action-primary">
    <span>
      {{t 'app.save'}}
    </span>
  </button>
  <button class="editor-theming-sidebar-savePreset short secondary-hollow action-btn">
    <span>
      {{t 'app.savepreset'}}
    </span>
  </button>
  <button class="editor-theming-sidebar-reset short action-secondary">
    <span>
      {{t 'app.restorepreset'}}
    </span>
  </button>
  <button class="editor-theming-sidebar-cancel action-secondary">
    <span>
      {{t 'app.cancel'}}
    </span>
  </button>
</div>