.editor-menu-layer {
  height: 100%;
}

.editor-menu-layer-inner {
  position: relative;
  border-left: 1px dashed; 
	padding: 30px;
  height: 100%;
}

.editor-menu-layer-actions {
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 99;
  border: none !important;
  background: none !important;
  padding-top: 30px;
  padding-right: 30px;
  margin-left: -15px;
}
