.editor-menu-layer {
  height: 100%;
  width:240px;
  float:left;
  padding-bottom:30px;
  overflow:hidden;
  &:first-child {
    .editor-menu-layer-inner {
      border-right: 2px solid #454545; 
    }
  }
}

.editor-menu-layer-inner {
  position: relative;
  border-right: 2px solid #454545; 
  height: 100%;
  overflow-y: auto;
  overflow-x:hidden;
}

.editor-menu-layer-controls {
  position:relative;
  .editor-menu-layer-actions.paste-zone {
    width: 100%;
    position: absolute;
    top: -37px;
    z-index: 99;
    margin:0px;
    padding:0;
    border:none;
    transition:top 0.5s cubic-bezier(0.8, 0.0, 0.2, 1);;
    &.show {
      top:0px;
    }
  }
}

.editor-menu-layer-button {
  float:left;
  width:50%;
  padding:8px;
  font-size:13px;
  border-radius:0px;
  border-bottom:1px solid #454545;
  border-right:2px solid #454545;
  &:first-child {
    border-right:1px solid #454545;
  }
  & i {
    margin-right:8px;
  }
}


