<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type="text/javascript">
        

        $(function() {
            var $install = $('.btn.install');
            var $output = $('.adapt-output');

            if ($install) {
                var socket = io.connect();
        
                socket.on('output', function (data) {
                    $output.val($output.val() + data.value + "\n");
                    console.log(data);
                });

                $install.on('click', function(event) {
                    event.preventDefault();

                    socket.emit('install:framework', null);
                    // alert('installing framework');
                });
            }
        });
    </script>
  </head>
  <body>
