<div class="project-inner">

  <div class="project-title">
    <h4 class="project-title-inner">{{{title}}}</h4>
  </div>

  <div class="project-description">
    <div class="project-description-inner">{{{body}}}</div>
  </div>

  <div class="project-buttons">
    <div class="project-button">
      <a class="project-edit-link btn btn-default" href="#/editor/{{_id}}/menu">Edit</a>
    </div>
    <div class="project-button">
      <a class="project-delete-link" href="#project/delete/{{_id}}">Delete</a>
    </div>
  </div>

</div>
