<form class="forms">
  <label for="projectDetailTitle">{{t 'app.projecttitle'}} <span class="req">*</span> <span id="titleErrorMessage" class="error"></span>
    <input type="text" class="width-30" id="projectDetailTitle" value="{{ title }}" autocomplete="off">
  </label>
  <label for="projectDetailDescription">{{t 'app.projectdescription'}}
    <textarea class="width-30" id="projectDetailDescription">{{ body }}</textarea>
  </label>
</form>
