<div class="back-drop">
  <div class="filter-inner">
    <form>
    {{#each items}}
    <label>
      <input type="checkbox" name="group" {{#if selected}} checked {{/if}} value="{{name}}">
      <i class="fa fa-toggle-off"></i>
      <span>{{name}}</span>
    </label>
    {{/each}}
  </form>
  </div>
</div>
