<div class="scaffold-items-modal-sidebar">
	<div class="scaffold-items-modal-sidebar-inner">
		{{#if title}}
		<div class="scaffold-items-modal-header">
			<h4>{{title}}</h4>
		</div>
		{{/if}}
		<div class="scaffold-items-modal-body">{{content}}</div>
		<div class="scaffold-items-modal-footer">
	        <a href="#" class="btn cancel scaffold-items-modal-cancel">Cancel</a>
			<a href="#" class="btn ok btn-primary scaffold-items-ok">Ok</a>
	    </div>
	</div>
</div>