<input type="text"/>
<button class="scaffold-display-title-lock">
	<i class="fa fa-lock"></i>
</button>
<button class="scaffold-display-title-clear display-none">
	<i class="fa fa-times-circle"></i>
</button>