<a class="context-menu-item-open" href="#">
    <div class="context-menu-item-title">
        <div class="context-menu-item-title-inner">{{{title}}}</div>
    </div>
    <div class="context-menu-item-description">
        <div class="context-menu-item-description-inner">{{{description}}}</div>
    </div>
</a>