<div class="context-menu-inner">
  <div class="context-menu-toolbar clearfix display-none">
    <a href="#" class="context-menu-back icon icon-controls-small-left">
    </a>
    <a href="#" class="context-menu-close icon icon-cross">
    </a>
  </div>
  <div class="context-menu-holder">
  </div>
</div>