<a class="context-menu-item-open {{className}}" href="#">
  <div class="context-menu-item-title">
    <h5 class="context-menu-item-title-inner">{{{title}}}</h5>
  </div>
  <div class="context-menu-item-description">
    <div class="context-menu-item-description-inner">{{{description}}}</div>
  </div>
</a>