<div class="permissions-inner">

	<div class="permissions-icon">
		<i class="fa fa-space-shuttle"></i>
	</div>

	<div class="permissions-body">
		<h1 class="permissions-body-inner">
			Access Denied
		</h1>
	</div>

	<div class="permissions-body">
		<div class="permissions-body-inner">
			Seems you don't have the correct permissions to view this page. Would you like to return to the <a href="#/dashboard">Dashboard?</div>
		</div>
	</div>

</div>