{{#if loggedin}}
<li><p class="navbar-text label label-info">Logged In</p></li>
<li data-route="logout"><a href="/#logout">Logout</a></li>
<li data-route="profile"><a href="/#profile">Profile</a></li>
{{else}}
  <li data-route="login"><a href="/#login">Login</a></li>
{{/if}}