<div class="inner">
  <h1>{{t "app.serverversion"}}</h1>
  <div class="status">
    <div class="stat">
      <div class="label">{{t "app.current"}}:</div>
      <div class="value">{{ installed }}</div>
    </div>
  </div>
</div>
