<div class="inner">
  <div class="logo">
    <img src="adaptbuilder/css/assets/adapt-learning-logo-outline.png" />
  </div>
  <div class="info">
    <div class="header">
      <div class="main">{{t 'app.productname'}}</div>
    </div>
    <div class="container"></div>
  </div>
</div>
