{{!TODO lang strings!!}}
<div class="sidebar-item-inner">
  <div class="sidebar-row sidebar-item-title">
    <h2 class="sidebar-item-title-inner">User Management</h2>
  </div>
  <div class="sidebar-row">
    <button class="primary-color add">
      <i class="fa fa-plus"></i> Add new user
    </button>
  </div>
</div>
