<div class="sidebar-item-inner">
  <button class="editor-theme-edit-sidebar-save action-primary">
    <span class="editor-theme-edit-sidebar-save-inner">
      {{t 'app.save'}}
    </span>
  </button>
  <button class="editor-theme-edit-sidebar-cancel action-secondary">
    <span class="editor-theme-edit-sidebar-cancel-inner">
      {{t 'app.cancel'}}
    </span>
  </button>
</div>
