<div class="sidebar-item-inner">
    <div class="sidebar-row sidebar-item-title">
    </div>
    <div class="sidebar-row">
        <button class="btn editor-theme-edit-sidebar-save">
            <span class="editor-theme-edit-sidebar-save-inner">
                {{t 'app.save'}}
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="btn editor-theme-edit-sidebar-cancel">
            <span class="editor-theme-edit-sidebar-cancel-inner">
                {{t 'app.cancel'}}
            </span>
        </button>
    </div>
</div>