<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- TODO needs to be localisable -->
    <title>Adapt Authoring Tool</title>
    <link rel="icon" type="image/png" href="css/assets/favicon.png" />
    <link rel="stylesheet" href="css/adapt.css" />
    <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css">
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-store, no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <div id="app" class="app container">
      <div class="location-title">
      </div>
      <div class="app-inner" style="color: red"><i class="fa fa-exclamation-circle fa-4x"></i>&nbsp;<span style="font-size: large">{{http_code}} - {{error}}</span>
      </div>
    </div>
  </body>
</html>
