<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adapt Origin: {{title}}</title>
    <link rel="stylesheet" href="/adaptbuilder/css/adapt.css" />
    <link rel="stylesheet" href="/core/libraries/font-awesome-4.2.0/css/font-awesome.min.css">
    <meta http-equiv="refresh" content="5;url={{currentUrl}}">
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>{{title}}</h1>
      </div>
      <div class="content">
          {{message}}
      </div>
    </div>
  </body>
</html>
