<div class="paste-zone-inner">
  <a href="#" class="editor-paste-zone-paste paste-component btn secondary" data-paste-layout="{{_pasteZoneLayout}}">{{t 'app.paste'}}</a>
  <a href="#" class="editor-paste-zone-cancel paste-cancel btn secondary-hollow">{{t 'app.cancel'}}</a>
</div>
