<div class="sidebar-item-inner">
  <div class="separator"></div>
  <button class="editor-page-edit-sidebar-save action-primary">
    <span class="editor-page-edit-sidebar-save-inner">{{t 'app.save'}}</span>
  </button>
  <button class="editor-page-edit-sidebar-cancel action-secondary">
    <span class="editor-page-edit-sidebar-cancel-inner">{{t 'app.cancel'}}</span>
  </button>
  <div class="separator"></div>
</div>
