<div class="sidebar-item-inner">
  <button class="editor-component-list-sidebar-save action-primary">
    <span class="editor-component-list-sidebar-save-inner">{{t 'app.save'}}</span>
  </button>
  <button class="editor-component-list-sidebar-save-edit action-secondary">
    <span class="editor-component-list-sidebar-save-edit-inner">{{t 'app.saveandedit'}}</span>
  </button>
  <button class="editor-component-list-sidebar-cancel action-secondary">
    <span class="editor-component-list-sidebar-cancel-inner">{{t 'app.cancel'}}</span>
  </button>
  <div class="separator"></div>
</div>
