<div class="inner">
	<div class="permissions-icon">
		<i class="fa fa-ban"></i>
	</div>
	<div class="title">
		{{t 'app.errorpagenoaccesstitle'}}
	</div>
	<div class="body">
		<div class="inner">
			{{t 'app.errorpagenoaccess'}}
		</div>
		<a href="#/dashboard" class="btn primary">{{t 'app.dashboard'}}</a>
	</div>
</div>