<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="menu-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <button id="" type="button" class="btn btn-success navbar-btn" data-action="new">New Project</button>
      </li>
      <!-- @todo allow sorting -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort by... <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a id="sortProjectsByName" href="#">Name</a></li>
          <li><a id="sortProjectsByAuthor" href="#">Author</a></li>
          <li><a id="sortProjectsByLastEdit" href="#">Last edited</a></li>
        </ul>
      </li>
    </ul>
    <!-- @todo enable searching -->
    <form class="navbar-form navbar-right" role="search" data-action="search">
      <div class="form-group">
        <input id="filterCriteria" type="text" class="form-control" placeholder="Filter courses">
      </div>
      <button id="filterProjectButton" type="submit" class="btn btn-default navbar-btn" data-action="filter">Filter</button>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>