<div class="paste-zone-inner">
<a href="#" class="editor-paste-zone-paste paste-{{_type}} btn secondary" data-sort-order="{{_pasteZoneSortOrder}}">{{t 'app.paste'}}</a>
<a href="#" class="editor-paste-zone-cancel paste-cancel btn secondary-hollow">{{t 'app.cancel'}}</a>
</div>