@import '../../../less/animations.less';
@import '../../../less/buttons.less';
@import '../../../less/sharedStyles.less';
@import '../../../less/variables.less';

.asset-management-sidebar-filter-image-icon {
    float: left;
}

.asset-management {
    &-inner {
        height: auto;
        overflow: hidden;
        .asset-management-assets-container {
            width: auto;
            overflow-y:scroll;

           .asset-management-no-assets {
               text-align:center;
               position:relative;
               top:40%;
           }

           .asset-management-collection-inner {
               padding-top:30px;
               padding-left:30px;
               .asset-management-list-item {
                   position: relative;
                   width: 160px;
                   height: 178px;
                   margin-right: 20px;
                   margin-bottom: 20px;
                   // padding: 4px;
                   float: left;
                   cursor: pointer;
                   background-color: @white;
                   border: 1px solid #bedee6;
                   border-radius: 3px;
                   overflow: hidden;
                   transition: all 0.2s;
                   box-shadow: 0px 0px 3pt 2pt transparent;
                   &:hover {
                       .shake-anim();
                        box-shadow: 0 0 5px 2px #CBE1E6;
                        .asset-management-list-item-editOverlay {
                            opacity: 1;
                        }
                   }

                   &-editOverlay {
                        opacity: 0;
                        transition: opacity 0.5s;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        bottom: 10px;
                        left: 10px;
                        button {
                            display: block;
                            float: right;
                            clear: both;
                            margin-bottom: 5px;
                            padding: 5px 10px;
                            border-radius: 2px;
                            white-space: nowrap;
                            overflow: hidden;
                            &.asset-management-list-item-select {
                                .primary;
                            }
                            &.asset-management-list-item-autofill {
                                .secondary;
                            }
                            .tooltip {
                                display: none;
                                margin-right: 5px;
                            }
                            &:hover {
                                .tooltip {
                                    display: initial;
                                }
                            }
                        }
                   }

                   &-icon {
                       display: none;
                       &-inner {
                           position: absolute;
                           padding:10px;
                           font-size: 20px;
                       }
                   }

                   &-image {
                       width:160px;
                       height:150px;
                       background-position:center;
                       background-size:cover;
                       background-repeat: no-repeat;
                       background-color: rgba(52, 190, 224, 0.33);
                       text-align:center;
                       i {
                           padding-top:40px;
                           color: white;
                           font-size:60px;
                       }
                   }

                   &-details {
                       transition: background-color 0.2s;
                       position: absolute;
                       bottom: 0;
                       width: 144px;
                       padding: 5px 8px;
                       overflow: hidden;
                       background-color: white;
                       word-wrap: break-word;
                       text-align: center;
                   }

                   .asset-management-list-item-deleted {
                       position:absolute;
                       width:100%;
                       height:100%;
                       top:0;
                       left:0;
                       text-align: center;
                       background-color:rgba(255,255,255,0.8);
                       i {
                           position: relative;
                           top: 50%;
                           margin-top: -36px;
                           color: #ff5567;
                           font-size:72px;
                           line-height:72px;
                       }
                   }

                   &.selected {
                       background-color: @primary-color;
                       color: @button-primary-text-color;
                       .asset-management-list-item-details {
                           background-color: @primary-color;
                       }
                   }
               }
           }
       }

       .asset-management-preview-container {
           display: none;
           width:25%;
           float:right;
           text-align:center;
           background-color:#fff;

           .asset-management-no-preview {
               position:relative;
               top:40%;
           }

           &-inner {
               padding: 30px 15px;
               color: #9d9d9d;

               .asset-preview-details-preview {
                   margin-bottom:20px;

                   i {
                       font-size:56px;
                   }
                   .fa-file-audio-o {
                       margin-bottom:20px;
                   }
               }

               .asset-preview-title {
                   color: @primary-color;
                   word-wrap: break-word;
               }

               .asset-group {
                   margin: 15px 0;
               }

               .asset-tags {
                   margin-bottom: 30px;
                   ul.tag-container {
                       margin: 4px;
                   }
                   li.tag-item {
                       margin: 1px 0px 1px 0px;
                       display: inline-block;

                       span.tag-value {
                           margin: 5px;
                           color:#fff;
                           padding: 3px;
                           background-color:@primary-color;
                       }
                   }
               }
           }

       }
    }
}


.asset-management-modal-filters {
    float: left;
    width: 50%;
    display:inline-block;
    text-align:left;
    input {
        border-radius:0px;
        width: 200px;
        border: none;
        border-radius: 3px;
        background: #627178;
        color: #fff;
    }
    .modal & button {
        margin-left:-4px;
        color:#9cabc4;
        transition:color 0.3s;
        &:hover {
            color:#fff;
        }
    }
}

.asset-preview-edit {
    .modal-popup & {
        display:none;
    }
}

.asset-management-modal-new-asset {
    position: absolute;
    width: 450px;
    top: 52px;
    left: 0;
    bottom: 0;
    z-index: 5;
    .form-container-style;
    margin: 10px;
}

.asset-management-modal-new-asset-close {
    position: absolute;
    top: 0px;
    right: 0;
    &:hover {
        color:#15a4fa;
    }
}
