@import '../../../less/fonts.less';
@import '../../../less/sharedStyles.less';

.modal .asset-management-new-asset {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d6f2f9;
}
.asset-management-modal-new-asset {
  .form-container-style;
  position: absolute;
  .slideDown-anim(-20%, 0);
  &.show {
    .slideDown-anim(60px, 1);
  }
  right: 22px;
  margin: 0;
  .buttons {
    text-align: right;
    button {
      margin-left: 10px;
    }
  }
}

.asset-management-new-asset-inner {
    padding:30px;
    .courses {
      display: none;
      &.show {
        display: block;
      }
      padding: 15px;
      .course {
        label {
          font-size: @font-size;
        }
      }
    }
}

.progress-container {
    width:100px;
    height:15px;
    border:1px solid black;
    visibility:hidden;
    position:relative;
}

.progress-bar {
    width:0%;
    background-color:lightgray;
    height:100%;
}

.progress-percent {
	color:black;
	position:absolute;
	display:inline-block;
}
