@import '../../../less/animations.less';
@import '../../../less/variables.less';

@background-color: #1e2e36;
@font-color: #cfd1cf;
@icon-color: @secondary-color;
@icon-color-hover: @white;
@control-border: 1px solid #263c48;

.modal .modal-popup .modal-popup-toolbar .modal-popup-toolbar-buttons
button.refine {
  float: left;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: @background-color;
  color: @primary-color;
  font-size: 115%;
  i {
      font-size: 130%;
      margin-right: 12px;
  }
  &:hover {
      color: @white;
  }
}

.assetManagement-refine {
  .slideX-anim(-300px);
  &.show {
      .slideX-anim(0);
  }
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: @background-color;
  border-top: @control-border;

  .modules {
    color: @font-color;
    > .module {
      padding: 25px 40px;
      border-bottom: @control-border;
      .title {
        margin-bottom: 12px;
        font-size: 120%;
      }

      .input {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 5px;

        input[type=radio],
        input[type=checkbox] {
          position: absolute;
          visibility: hidden;
          &:checked {
            ~ label {
              color: @icon-color;
            }
            ~ .icon {
              color: @icon-color;
            }
          }
        }

        label {
          display: inline-block;
          position: relative;
          &:hover {
            color: @icon-color-hover;
          }
        }
      }

      /*
      * Radio styling
      */
      .radio {
        .icon {
          display: inline-block;
          border: 2px solid @font-color;
          border-radius: 100%;
          height: 12px;
          width: 12px;
          &::before {
            display: block;
            position: absolute;
            content: '';
            border-radius: 100%;
            height: 8px;
            width: 8px;
            top: 4px;
            left: 4px;
            margin: auto;
          }
        }

        label {
          top: -2px;
          padding-left: 5px;
        }

        input[type=radio]:checked {
          ~ .icon {
            border-color: @icon-color;
            &::before {
              background: @icon-color;
            }
          }
        }
      }
      /*
      * Checkbox styling
      */
      .checkbox {
        .icon {
          display: inline-block;
          .icon-checked {
            display: none;
            margin-right: 5px;
            color: @icon-color;
          }
          .icon-unchecked {
            margin-right: 7.5px;
          }
          i {
            font-size: 17px;
          }
        }
        label {
          top: -1px;
        }
        input[type=checkbox]:checked {
          ~ .icon {
            .icon-checked {
              display: inline-block;
            }
            .icon-unchecked {
              display: none;
            }
          }
        }
      }

      /*
      * Specific mpdule styling
      */
      /*
      * Summary styling
      */
      &.summary {
        a {
          margin-left: 10px;
          color: @primary-color;
          &:hover {
            color: @white;
          }
        }
        .label {
          display: inline-block;
          .assetCount {
            margin: 0 5px;
            font-size: 120%;
            font-weight: bold;
          }
        }
      }
    }
  }
}
