<div class="sidebar-item-inner">
	<div class="sidebar-row sidebar-item-title">
		<h2 class="sidebar-item-title-inner">
			Plugin Management
		</h2>
	</div>
	<div class="sidebar-row">
		<button class="btn pluginManagement-sidebar-extensions">
			<span class="pluginManagement-sidebar-extensions">
				Extensions
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="btn pluginManagement-sidebar-themes">
			<span class="pluginManagement-sidebar-themes">
				Themes
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="btn pluginManagement-sidebar-components">
			<span class="pluginManagement-sidebar-components">
				Components
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="btn pluginManagement-sidebar-dashboard">
			<span class="pluginManagement-sidebar-dashboard">
				Return to Dashboard
			</span>
		</button>
	</div>
</div>
