<div class="pluginType-inner">
  <div class="pluginType-description col-row">
    <div class="pluginType-title col-20">
      <h4 class="pluginType-title-inner">{{{displayName}}}</h4>
    </div>
    <div class="pluginType-description col-40">
      <div class="pluginType-description-inner">{{{description}}}</div>
    </div>
    <div class="pluginType-version col-10">
      <span class="pluginType-version-number">{{version}}</span>
    </div>
    <div class="pluginType-enabled col-10">
      <input class="plugin-toggle-enabled" type="checkbox" {{#if _isAvailableInEditor}} checked="checked" {{/if}} />
    </div>
    <div class="pluginType-update col-20">
      <button class="btn plugin-update-check btn btn-info">Check for updates</button>
    </div>
  </div>
</div>
