<div class="pluginType-inner units-row">
  <div class="pluginType-description unit-100">
    <div class="pluginType-title unit-20">
      <h4 class="pluginType-title-inner">{{{displayName}}}</h4>
    </div>
    <div class="pluginType-description unit-40">
      <div class="pluginType-description-inner">{{{description}}}</div>
    </div>
    <div class="pluginType-version unit-10">
      <span class="pluginType-version-number">{{version}}</span>
    </div>
    <div class="pluginType-enabled unit-10">
      <input class="plugin-toggle-enabled" type="checkbox" {{#if _isAvailableInEditor}} checked="checked" {{/if}} />
    </div>
    <div class="pluginType-update unit-20">
      <a class="btn plugin-update-check" href="#">Check for updates</a>
    </div>
  </div>
</div>
