<div class="plugin-management-new-plugin-inner inner">
    <!-- Begin upload form -->
    <form class="plugin-form forms plugin-form" action="/api/upload/contentplugin" method="post">
        <div class="form-group">
          <input type="file" class="plugin-file" name="file" id="file">
          <label for="file">
            <div class="inner">
                  <span class="btn secondary">
                      <i class="fa fa-upload"></i>
                      <span class="btn-label">
                        {{#if path}}Change file{{else}}Upload file{{/if}}
                      </span>
                  </span>
                  <span class="label">Drag and drop file here, or click the button.</span>
                  <span class="progress display-none">Uploaded <span class="value"></span>%</span>
              </div>
          </label>
        </div>
    </form>
    <!-- end upload form -->
</div>
