<div class="pluginManagement-inner">
  <div class="pluginType-headings units-row">
      <div class="pluginType-heading unit-20">
        <h4 class="pluginType-heading-title">Name</h4>
      </div>
      <div class="pluginType-heading unit-40">
        <h4 class="pluginType-heading-description">Description</h4>
      </div>
      <div class="pluginType-heading unit-10">
        <h4 class="pluginType-heading-version">Version</h4>
      </div>
      <div class="pluginType-heading unit-10">
        <h4 class="pluginType-heading-enabled">Enabled</h4>
      </div>
      <div class="pluginType-heading unit-20">
        <h4 class="pluginType-heading-action">Action</h4>
      </div>
  </div>
  <ul class="pluginManagement-plugins clearfix grid-layout">
  </ul>
  <div class="pluginType-bulk-actions unit-30">
    <div class="pluginType-action-buttons units-row">
      <a class="btn refresh-all-plugins unit-50">Refresh All</a>
    </div>
  </div>
</div>
