<div class="sidebar-item-inner">
{{!--   <div class="sidebar-row sidebar-item-title">
    <h2 class="sidebar-item-title-inner">
      {{t 'app.pluginmanagement'}}
    </h2>
  </div> --}}
    <button type="submit" class="pluginManagement-upload-sidebar-save-button action-primary">
      <span>
        {{t 'app.upload'}}
      </span>
    </button>

    <button type="button" class="pluginManagement-upload-sidebar-cancel-button action-secondary">
      <span>
        {{t 'app.cancel'}}
      </span>
    </button>
</div>
