<div class="sidebar-item-inner">
    <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            {{t 'app.pluginmanagment'}}
        </h2>
    </div>
    <div class="sidebar-row">

        <button type="submit" class="primary-color pluginManagement-upload-sidebar-save-button">
            <span>
                {{t 'app.upload'}}
            </span>
        </button>

        <button type="button" class="pluginManagement-upload-sidebar-cancel-button">
            <span>
                {{t 'app.cancel'}}
            </span>
        </button>

    </div>
</div>
