<div class="sidebar-item-inner">
  <div class="sidebar-row sidebar-item-title">
    <h2 class="sidebar-item-title-inner">
      {{t 'app.pluginmanagement'}}
    </h2>
  </div>
    <button type="submit" class="pluginManagement-upload-sidebar-save-button btn btn-primary">
      <span>
        {{t 'app.upload'}}
      </span>
    </button>

    <button type="button" class="pluginManagement-upload-sidebar-cancel-button btn btn-primary-hollow">
      <span>
        {{t 'app.cancel'}}
      </span>
    </button>
</div>
