<div class="colorlabel-inner">
    <div class="colors">
        <div class="colors-inner clearfix">
            {{#each colors}}
                <div class="color-item" data-colorlabel={{this}}>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            <button class="btn warning reset">Reset</button>
            <button class="btn primary apply">Apply</button>
            <button class="btn secondary cancel">Cancel</button>
        </div>
    </div>
</div>