<div class="sidebar-filter-inner">
    <div class="sidebar-filter-toolbar">
        <div class="sidebar-filter-toolbar-inner">
            <div class="sidebar-filter-toolbar-title">
                {{{title}}}
            </div>
            <div class="sidebar-filter-toolbar-close">
                <button class="fa fa-times"></button>
            </div>
        </div>
    </div>
    <div class="sidebar-filter-search">
        <input type="text" class="sidebar-filter-search-input" />
    </div>
    <div class="sidebar-filter-items">
        {{#each items}}
        <button class="sidebar-filter-item">
            <div class="sidebar-filter-item-inner">
                {{title}}
            </div>
        </button>
        {{/each}}
    </div>
</div>