<fieldset class="fieldset-{{#if legend}}{{stringToClassName legend}}{{else}}object{{/if}}" data-key="{{key}}" data-fields>
  {{#if legend}}
  <div class="legend">
    <legend>{{legend}}</legend>
  </div>
  {{/if}}
</fieldset>
