<div class="list-item">
  <span data-editor></span>
  <button class="btn secondary fa fa-clone" type="button" data-action="clone"></button>
  <button class="btn warning fa fa-close" type="button" data-action="remove"></button>
</div>
