<div class="list-item clearfix">
  <span data-editor></span>
  <button class="btn warning" type="button" data-action="remove">&times;</button>
  <button class="btn clone" type="button"><i class="fa fa-icon fa-copy"></i></button>
  <button class="btn move-down" type="button"><i class="fa fa-icon fa-arrow-down"></i></button>
  <button class="btn move-up" type="button"><i class="fa fa-icon fa-arrow-up"></i></button>
</div>
