<input type="text" autocomplete="off">
<button class="scaffold-display-title-lock">
  <i class="fa fa-lock" title="{{t 'app.titlelock'}}"></i>
  <i class="fa fa-unlink" title="{{t 'app.titleunlock'}}"></i>
</button>
<button class="scaffold-display-title-clear">
  <i class="fa fa-times-circle" title="{{t 'app.delete'}}"></i>
</button>
