<input type="text" autocomplete="off">
<button class="scaffold-display-title-lock">
  <i class="fa fa-lock"></i>
  <i class="fa fa-unlink"></i>
</button>
<button class="scaffold-display-title-clear">
  <i class="fa fa-times-circle"></i>
</button>
