<div class="dashboard-inner">
	<div class="dashboard-no-projects nothing-to-show display-none">
			<i class="fa fa-meh-o"></i>
			{{t 'app.noprojectstodisplay'}}.
	</div>
    <ul class="dashboard-projects clearfix grid-layout"></ul>
</div>
