<div class="sidebar-item-inner">
	<div class="sidebar-row sidebar-item-title">
		<h2 class="sidebar-item-title-inner">
			My Courses
		</h2>
	</div>
	<div class="sidebar-row">
		<button class="btn dashboard-sidebar-add-course">
			<span class="dashboard-sidebar-add-course-inner">
				Add new course
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<a href="#" class="project-layout-grid"><i class="fa fa-th layout-projects-grid"></i> View as grid</a>
{{!-- 		<button class="dashboard-sidebar-grid-layout">
			<span class="dashboard-sidebar-grid-layout-inner">
				<i class="fa fa-th layout-projects-grid"></i>Grid layout
			</span>
		</button> --}}
	</div>
	<div class="sidebar-row">
		<a href="#" class="project-layout-list"><i class="fa fa-list layout-projects-list"></i> View as list</a>
{{!-- 		<button class="dashboard-sidebar-list-layout">
			<span class="dashboard-sidebar-list-layout-inner">
				<i class="fa fa-list layout-projects-list"></i>List layout
			</span>
		</button> --}}
	</div>
	<div class="sidebar-row">
		<a href="#" class="project-sort-asc"><i class="fa fa-sort-alpha-asc"></i> Ascending</a>
	{{!-- 	<label>Ordering</label>
		<select class="dashboard-sidebar-ordering">
			<option>A to Z</option>
			<option>Z to A</option>
		</select> --}}
	</div>
	<div class="sidebar-row">
		<a href="#" class="project-sort-desc"><i class="fa fa-sort-alpha-desc"></i> Descending</a>
{{!-- 		<label>Category</label>
		<select class="sidebar-row dashboard-sidebar-category">
			<option>All courses</option>
			<option>Compliance</option>
			<option>Soft skills</option>
		</select> --}}
	</div>
</div>