<div class="dashboard-title">
	<h2 class="dashboard-title-inner">
		My Projects
	</h2>
</div>
<div class="dashboard-menu">
	<div class="dashboard-menu-item">
		<a href="#/project/new">Add project</a>
	</div>
</div>
<div class="dashboard-projects"></div>