<div class="sidebar-item-inner">
	<div class="sidebar-row sidebar-item-title">
		<h2 class="sidebar-item-title-inner">
			My Courses
		</h2>
	</div>
	<div class="sidebar-row">
		<button class="primary-color dashboard-sidebar-add-course">
			<span class="dashboard-sidebar-add-course-inner">
				<i class="fa-plus fa"></i>Add new course
			</span>
		</button>
	</div>

    <div class="sidebar-row sidebar-divide">
        <h3 class="sidebar-divide-inner">
            <i class="fa fa-search"></i>Search
        </h3>
    </div>

    {{!-- inline search field with close button --}}
    <div class="sidebar-row">
        <div class="sidebar-row-input">
            <input type="text" class="dashboard-sidebar-filter-input dashboard-sidebar-filter-search-input" placeholder="{{t 'app.search'}}"/>
            <button class="dashboard-sidebar-filter-clear sidebar-inline-input-button"><i class="fa fa-times"></i></button>
        </div>
    </div>

    <div class="sidebar-row sidebar-divide">
        <h3 class="sidebar-divide-inner">
            <i class="fa fa-tags"></i>Tags
        </h3>
    </div>

    <div class="sidebar-row">
        <button class="dashboard-sidebar-tag sidebar-tag dashboard-sidebar-tag-archive" data-tag="archive">
            <span class="dashboard-sidebar-tag-archive-inner">
                <i class="fa fa-toggle-off"></i>Archive
            </span>
        </button>
    </div>

    <div class="sidebar-row">
        <button class="dashboard-sidebar-tag sidebar-tag dashboard-sidebar-tag-favourites" data-tag="favourites">
            <span class="dashboard-sidebar-tag-favourites-inner">
                <i class="fa fa-toggle-off"></i>Favourites
            </span>
        </button>
    </div>

    <div class="sidebar-row">
        <button class="dashboard-sidebar-add-tag sidebar-tag info-color">
            <span class="dashboard-sidebar-add-tag-inner">
                <i class="fa-plus fa"></i>Add Tag
            </span>
        </button>
    </div>

	{{!-- <div class="sidebar-row">
		<a href="#" class="project-layout-grid"><i class="fa fa-th layout-projects-grid"></i> View as grid</a>
	</div>
	<div class="sidebar-row">
		<a href="#" class="project-layout-list"><i class="fa fa-list layout-projects-list"></i> View as list</a>
	</div>
	<div class="sidebar-row">
		<a href="#" class="project-sort-asc"><i class="fa fa-sort-alpha-asc"></i> Ascending</a>
	</div>
	<div class="sidebar-row">
		<a href="#" class="project-sort-desc"><i class="fa fa-sort-alpha-desc"></i> Descending</a>
	</div> --}}
</div>