<div class="sidebar-item-inner">
	<div class="sidebar-row sidebar-item-title">
		<h2 class="sidebar-item-title-inner">
			My Courses
		</h2>
	</div>
	<div class="sidebar-row">
		<button class="dashboard-sidebar-add-course">
			<span class="dashboard-sidebar-add-course-inner">
				Add new course
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="dashboard-sidebar-grid-layout">
			<span class="dashboard-sidebar-grid-layout-inner">
				Grid layout
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="dashboard-sidebar-list-layout">
			<span class="dashboard-sidebar-list-layout-inner">
				List layout
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<label>Ordering</label>
		<select class="dashboard-sidebar-ordering">
			<option>A to Z</option>
			<option>Z to A</option>
		</select>
	</div>
	<div class="sidebar-row">
		<label>Category</label>
		<select class="sidebar-row dashboard-sidebar-category">
			<option>All courses</option>
			<option>Compliance</option>
			<option>Soft skills</option>
		</select>
	</div>
</div>