<div>{{>part_projectOverviewMenu}}</div>
<div class="row">
  <div class="col-md-2">
    <strong>{{name}}</strong>
    <div>{{description}}</div>
    <strong>Created At</strong>
    <div>{{createdAt}}</div>
    <strong>Created By</strong>
    <div>{{createdBy}}</div>
  </div>
  <div class="col-md-10">
    <div class="project-content-menu"></div>
    <div class="project-content-view"></div>
  </div>
</div>
