<div class="sidebar-item-inner">
  <div class="sidebar-row sidebar-divide">
      <h3 class="sidebar-divide-inner">
          <i class="fa fa-filter"></i>{{t 'app.assetfilters'}}
      </h3>
  </div>
  <div class="sidebar-row">
    <button class="sidebar-fieldset-filter" data-type="info">
      <span class="sidebar-fieldset-filter-inner">
        <i class="fa fa-toggle-off fa-toggle-on"></i>
        Info
      </span>
    </button>
  </div>
  <div class="sidebar-row">
    <button class="sidebar-fieldset-filter" data-type="error">
      <span class="sidebar-fieldset-filter-inner">
        <i class="fa fa-toggle-off fa-toggle-on"></i>
        Error
      </span>
    </button>
  </div>
</div>
