<div class="editor-menu-layer-controls clearfix">
  	<div class="editor-menu-layer-actions add-zone">
		<button class="editor-menu-layer-add-page btn btn-primary">{{!-- <i class="fa fa-file-o fa-1x"></i> --}}{{t 'app.addpage'}}</button>
		<button class="editor-menu-layer-add-menu btn btn-primary-hollow">{{!-- <i class="fa fa-folder-o fa-1x"></i> --}} {{t 'app.addsection'}}</button>
	</div>
  	<div class="editor-menu-layer-actions paste-zone paste-zone-page">
    	<button class="editor-menu-layer-paste btn btn-secondary">{{t 'app.paste'}}</button>
    	<button class="editor-menu-layer-paste-cancel btn btn-secondary-hollow">{{t 'app.cancel'}}</button>
  	</div>
</div>
<div class="editor-menu-layer-inner">
</div>