<div data-id="{{_id}}" data-parentId="{{_parentId}}" class="editor-menu-item-inner clearfix unselectable">
    <div class="handle">
        <div class="editor-menu-item-icon {{_type}}">
            {{#ifValueEquals _type "menu"}}
                <i class="fa fa-folder-o"></i> 
            {{/ifValueEquals}}
            {{#ifValueEquals _type "page"}}
                <i class="fa fa-file-o"></i> 
            {{/ifValueEquals}}
        </div>
        <div class="editor-menu-item-title">
            <span class="editor-menu-item-title-text">{{{title}}}</span>
        </div>
        <div class="editor-menu-item-settings">
            <div class="editor-menu-item-settings-inner">
                <a href="#" class="open-context-contentObject"><i class="fa fa-cog fa-fw"></i></a>
            </div>
        </div>
    </div>
</div>