<div class="editor-menu-layer-controls clearfix">
  <button class="editor-menu-layer-add-page editor-menu-layer-button"><i class="fa fa-file-o fa-1x"></i>{{t 'app.addpage'}}</button>
  <button class="editor-menu-layer-add-menu editor-menu-layer-button"><i class="fa fa-folder-o fa-1x"></i> {{t 'app.addsection'}}</button>
  <div class="editor-menu-layer-actions paste-zone paste-zone-page">
    <button class="editor-menu-layer-paste primary-color editor-menu-layer-button">{{t 'app.paste'}}</button>
    <button class="editor-menu-layer-paste-cancel editor-menu-layer-button">{{t 'app.cancel'}}</button>
  </div>
</div>
<div class="editor-menu-layer-inner">
</div>