@import 'colours';

.options {
  position:absolute;
  top:63px;
  right:0px;
  // FIXME fix this and .location-title so we don't a z-index
  z-index: 5;

  &-inner {
    padding:13px;
  }

  &-group {
    float:left;
    padding:4px 0px;
    i {
      font-size: 18px;
    }
  }

  a {
    margin-left:10px;
    margin-right:10px;
    text-decoration: none;
    text-align:center;
    color:@option-color;

    &:hover {
      transition:color 0.3s;
      color:@option-hover-color;
    }
    &.selected {
      transition:color 0.3s;
      color:@option-selected-color;
    }

    i {
      margin-right:4px;
      margin-bottom:3px;
    }
  }
}

.option-value-item {
  display: inline-block;
  padding-right: 20px;
}
