<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Adapt</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul id="nav-left" class="nav navbar-nav">
      <li data-route="index"><a class="active" href="#">Home</a></li>
      {{#if authenticated}}
        <li data-route="dashboard"><a href="/#dashboard">Dashboard</a></li>
      {{/if}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if authenticated}}
        <li><p class="navbar-text label label-info">Logged In</p></li>
        <li data-route="logout"><a href="/#logout">Logout</a></li>
        <li data-route="profile"><a href="/#profile">Profile</a></li>
      {{else}}
        <li data-route="login"><a href="/#login">Login</a></li>
      {{/if}}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
