<div class="sidebar-item-inner">
    <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            Component Edit
        </h2>
    </div>
        <button class="editor-component-edit-sidebar-save btn btn-primary">
            <span class="editor-component-edit-sidebar-save-inner">
                {{t 'app.save'}}
            </span>
        </button>
        <button class="editor-component-edit-sidebar-cancel btn btn-primary-hollow">
            <span class="editor-component-edit-sidebar-cancel-inner">
                {{t 'app.cancel'}}
            </span>
        </button>
</div>