<div class="article-edit">
    <div class="editing-overlay-panel">
        <a href="#" class="editing-overlay-panel-title active">
            <div class="editing-overlay-panel-title-inner">
                <h2>{{t 'app.settingsgeneral'}}</h2>
            </div>
        </a>
        {{> part_settingsGeneral}}
    </div>
    <div class="editing-overlay-panel">
        <a href="#" class="editing-overlay-panel-title">
            <div class="editing-overlay-panel-title-inner">
                <h2>{{t 'app.settingsextensions'}}</h2>
            </div>
        </a>
        <div class="editing-overlay-panel-content editing-overlay-panel-collapsed">
            <div class="editing-overlay-panel-content-inner">
                <div class="article-extensions"></div>
            </div>
        </div>
    </div>
</div>