{{> part_editorCommon}}
{{!-- <div class="sidebar-item-inner">
    <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            Page Structure
        </h2>
    </div>
    <div class="sidebar-row">
        <button class="editor-page-sidebar-edit-course btn">
            <span class="editor-sidebar-edit-course-inner">
                Edit page
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="editor-page-sidebar-preview btn">
            <span class="editor-page-sidebar-preview-inner">
                Preview Page
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="editor-page-sidebar-publish btn">
            <span class="editor-page-sidebar-publish-inner">
                {{ t 'app.publish'}}
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="editor-page-sidebar-close btn">
            <span class="editor-page-sidebar-close-inner">
                Close
            </span>
        </button>
    </div>
</div> --}}