<div class="block-detail">
  <div class="block-edit-panel">
    <a href="#" class="edit-block">[Edit]</a>
    <a href="#" class="delete-block">[Delete]</a>
  </div>
  <h4 class="block-name">{{title}}</h4>
  <div class="block-body">{{body}}</div>
  <div class="block-components"></div>
  <div class="block-add-component">
   <a href="#" class="add-component">+ Add component</a>
  </div>
</div>
