<h1>Now editing {{{name}}}</h1>
<div class="editor-container">
  <div class="editor-panel">
    {{> part_editorMenu}}
  </div>
  <div class="editor">
    <p>Main editor container.</p>
  </div>
</div>
