<div class="editor-sidebar-inner">
	<div class="editor-sidebar-loading">
	Loading...
	</div>
	<div class="editor-sidebar-instruction">
	Please select an item to edit
	</div>
  <div class="editor-sidebar-form">
  </div>
</div>