<div class="sidebar-item-inner">
	<div class="sidebar-row sidebar-item-title">
		<h2 class="sidebar-item-title-inner">
			Course Structure
		</h2>
	</div>
	<div class="sidebar-row">
		<button class="editor-menu-sidebar-edit-course">
			<span class="editor-sidebar-edit-course-inner">
				Edit course details
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="editor-menu-sidebar-grid-layout">
			<span class="editor-menu-sidebar-grid-layout-inner">
				Grid layout
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="editor-menu-sidebar-list-layout">
			<span class="editor-menu-sidebar-list-layout-inner">
				List layout
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<select class="editor-menu-sidebar-ordering">
			<option>A to Z</option>
			<option>Z to A</option>
		</select>
	</div>
	<div class="sidebar-row">
		<select class="sidebar-row editor-menu-sidebar-category">
			<option>All courses</option>
			<option>Compliance</option>
			<option>Soft skills</option>
		</select>
	</div>
</div>