<div class="editor-menu-item-inner">
	<div class="editor-menu-item-title">
		<h4>{{{title}}}</h4>
	</div>
	<div class="editor-menu-item-buttons">
		<button class="editor-menu-item-edit">Edit</button>
	</div>
</div>