<div class="page-detail">
  <div class="page-edit-panel">
    <a href="#" class="edit-page">[Edit]</a>
    <a href="#" class="delete-page">[Delete]</a>
  </div>
  <h4 class="page-name">{{title}}</h4>
  <div class="page-body">{{body}}</div>
  <div class="page-articles"></div>
  <div class="page-add-article">
   <a href="#" class="add-article">+ Add article</a>
  </div>

  <div class="paste-zone paste-zone-article page-article display-none">
    <a href="#" class="paste-article">Paste</a>
    <a href="#" class="paste-cancel">Cancel</a>
  </div>

</div>
