<div class="editor-menu-layer-inner">
  <div class="editor-menu-layer-controls">
    {{#if _isCourseObject}}
    {{else}}
      <button class="editor-menu-layer-add">Add Item</button>
    {{/if}}
  </div>
</div>