<div class="editor-menu-item-inner">
	<div class="editor-item-sidebar">
        <div class="settings"><a href="#" class="open-context-contentObject">[X]</a></div>
        <div class="handle"></div>
    </div>
	<div class="editor-menu-item-icon {{_type}}"></div>
	<div class="editor-menu-item-title">
		<span class="editor-menu-item-title-text">{{{title}}}</span>
	</div>
</div>