<div class="paste-zone paste-zone-component paste-zone-component-{{_pasteZoneLayout}} display-none">
  <a href="#" class="paste-component" data-paste-layout="{{_pasteZoneLayout}}">{{t 'app.paste'}}</a>
  <a href="#" class="paste-cancel">{{t 'app.cancel'}}</a>
</div>