<div class="block-detail">
  <h4 class="block-title">{{title}}</h4>
  <div class="block-body">{{body}}</div>
  
  <div class="block-edit-panel">
    <a href="#" class="block-edit">[Edit]</a>
    <a href="#" class="block-delete">[Delete]</a>
  </div>
</div>