<div class="editor-sidebar-inner">

  <div class="editor-sidebar-tabs">
    <a class="editor-sidebar-tab" data-tab-content="editor-sidebar-form">{{t 'app.edit'}}</a>
    <a class="editor-sidebar-tab active" data-tab-content="editor-sidebar-overview">{{t 'app.overview'}}</a>
  </div>

	<div class="tab-content editor-sidebar-form display-none">
    <div class="editor-sidebar-loading">Loading...</div>
    <div class="editor-sidebar-instruction">Please select an item to edit</div>
    <div class="editor-form"></div>
  </div>

  <div class="tab-content editor-sidebar-overview"></div>

</div>
