<h3 class="text-left">Editor</h3>

<div class="editorContainer">
  <div id="editorPanel" class="editorPanel">{{> part_editorMenu}}</div>
  <div id="editor" class="editor">
    <p>Main editor container.</p>
  </div>
</div>