<div class="sidebar-item-inner">
	<div class="sidebar-row sidebar-item-title">
		<h2 class="sidebar-item-title-inner">
			Page Structure
		</h2>
	</div>
	<div class="sidebar-row">
		<button class="editor-page-sidebar-edit-course">
			<span class="editor-sidebar-edit-course-inner">
				Edit page
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="editor-page-sidebar-preview">
			<span class="editor-page-sidebar-preview-inner">
				Preview Page
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="editor-page-sidebar-publish">
			<span class="editor-page-sidebar-publish-inner">
				Publish
			</span>
		</button>
	</div>
	<div class="sidebar-row">
		<button class="editor-page-sidebar-preview">
			<span class="editor-page-sidebar-close-inner">
				Close
			</span>
		</button>
	</div>
</div>