<div class="page-article-detail">
  <h4 class="page-article-name">{{name}}</h4>
  <div class="page-article-description">{{description}}</div>
  <div class="page-article-edit-panel">
    <a href="#page/article/edit/{{_id}}" class="page-article-edit">[Edit]</a>
    <a href="#" class="page-article-delete">[Delete]</a>
  </div>
</div>