<div class="page-detail">
  <h4 class="page-name">{{title}}</h4>
  <div class="page-body">{{body}}</div>
  <div class="page-articles"></div>
  <div class="page-add-article">
   <a href="#" class="add-article">+ Add article</a>
  </div>
</div>
