<div class="page-article-detail">
  <h4 class="page-article-name">{{name}}</h4>
  <div class="page-article-description">{{description}}</div>
  <a href="#" class="page-article-delete">[Delete]</a>
</div>