<div class="page-detail">
  <h4 class="page-name">{{name}}</h4>
</div>
<div class="page-editor">
  <div class="page-buttons">
    <a class="edit-link" href="#/page/edit/{{_id}}">Edit</a>
    <a class="delete-link" href="#page/delete/{{_id}}">Delete</a>
  </div>
</div>
