<div class="courseImport-inner">
  <div class="form-container form-container-style">
    <div class="inner">
      <form action="/import" method="post">
          <div class="form-group">
            <input type="file" name="file" id="file">
            <label for="file">
              <div class="inner">
                    <span class="btn secondary">
                        <i class="fa fa-upload"></i>
                        <span class="btn-label">
                          Upload course package
                        </span>
                    </span>
                    <span class="label">Drag and drop file here, or click the button.</span>
                    <span class="progress display-none">Uploaded <span class="value"></span>%</span>
                </div>
            </label>
          </div>
      </form>
    </div>
  </div>
</div>
