<div class="sidebar-item-inner">

    <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            {{t "app.importsidebartitle"}}
        </h2>
    </div>

    <div class="sidebar-row">
        <button class="primary-color import">
            <i class="fa fa-upload"></i>{{t "app.importsidebarbutton"}}
        </button>
        <button class="cancel">
            <i class="fa fa-times"></i>{{t "app.cancel"}}
        </button>
    </div>

</div>
