<div class="courseImport-inner clearfix">
  <form class="import-form forms" action="/import" method="post">
      <div class="form-group">
          <label for="file">
              {{t "app.importinstruction"}} <span class="req">*</span>
              <span class="error display-none">{{t "app.importvalidationerror"}}</span>
          </label>
          <input type="file" class="" name="file" accept="application/zip">
      </div>
  </form>
</div>
