<div class="sidebar-item-inner">

    <div class="separator"></div>

    <button class="import action-primary">
      {{t 'app.importsidebarbutton'}}
    </button>

    <button class="cancel action-secondary">
      {{t 'app.cancel'}}
    </button>

    <div class="separator"></div>

</div>
