<div class="sidebar-item-inner">
{{!--     <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            {{t 'app.configurationsettings'}}
        </h2>
    </div> --}}
        <button class="editor-config-edit-sidebar-save action-primary">
            <span class="editor-config-edit-sidebar-save-inner">
                {{!-- <i class="fa fa-save"></i> --}}{{t 'app.save'}}
            </span>
        </button>
        <button class="editor-config-edit-sidebar-cancel action-secondary">
            <span class="editor-config-edit-sidebar-cancel-inner">
                {{!-- <i class="fa fa-close"></i> --}}{{t 'app.cancel'}}
            </span>
        </button>
</div>