@import 'variables';
@import 'variables';
.editor-item-settings, .editor-menu-item-settings {
    a {
        color:@primary-color;
        transition: all 0.3s;
        
        &:hover {
            color:darken(@primary-color,5%);
        }
    }
}

.syncing {
    transform: scale(0.8, 0.8);
    opacity:0.6;
}

.synced {
    transition:transform 0.3s cubic-bezier(0.8, 0.0, 0.2, 1), opacity 0.3s cubic-bezier(0.8, 0.0, 0.2, 1)!important;
    transform: scale(1, 1);
    opacity:1;
}

.not-synced {
    transition:transform 0.3s cubic-bezier(0.8, 0.0, 0.2, 1), opacity 0.3s cubic-bezier(0.8, 0.0, 0.2, 1)!important;
    transform: scale(0.4, 0.4);
    opacity:0;
}