@import 'variables';

// Fonts

body {
    font-family:@font-family;
    font-size: 13px;
    font-weight:@font-weight;
}

h1 {
    font-size:21px;
    font-weight:600;
}

h2 {
    font-size:19px;
    font-weight:600;
}

h3 {
    font-size:17px;
    font-weight:400;
}

h4 {
    font-size:17px;
    font-weight:400;
}

h5 {
    font-size:15px;
    font-weight:400;
}

h6 {
    font-size:15px;
    font-weight:300;
}