@import 'variables';

.global-menu {
    background-color:#36cde8;
    border-top:1px solid #63def4;
    a {
        color:@navigation-text-color;
        border-bottom:1px solid #63def4;
        &:hover {
            background-color:#63def4;
            color:@navigation-text-color;
        }
    }
}