@import 'variables.less';
@import 'fonts.less';

.navigation {
    background:url("assets/login_bg.jpg");
    border-bottom:1px solid rgba(0,0,0,0.15);
    font-family: @font-raleway-semibold;
    font-size: 15px;
    a {
        // transition:all 0.3s;
        &:hover {
            color:@navigation-hover-text-color;
            &.navigation-user-logout {
                color:@button-white-hollow-hover-text-color;
            }
        }
    }
}

.navigation-inner {
    padding-top: 15px;
}

.navigation-item {
  color:@navigation-text-color;
}

.navigation-left {
    .navigation-loading-bar {
        width: 120px;
        height: 20px;
        padding: 0;
        margin-top: 7px;
        radius: @button-radius;
        background: darken(@navigation-hover-text-color,10%);
        border: 1px solid @navigation-hover-text-color;
        &.display-none {
            display: none;
        }
    }
    .navigation-loading-progress {
        height:20px;
        background-color:@secondary-color;
    }
}

.navigation-right {
    .navigation-user-logout {
        padding: 0px 25px;
    }
}