@import 'variables';

.editor-view {

    .paste-zone {
        background-color:@warning-color;
        border:1px solid darken(@warning-color, 10%);
        border:1px solid darken(@warning-color, 10%);
    }
}