@import 'variables';

.project-list-item {
    border:1px solid #b7caed;
    background-color:#fff;
    &.selected {
        color:#fff;
        background-color:@secondary-color;
        border:1px solid @secondary-color;
        .projects-details-label {
            color:#fff;
        }
    }
    .open-context-icon {
        color:#3e4960;
        transition:color 0.3s;
        &:hover {
            color:@secondary-color;
        }
    }
}