@import 'variables';

.project-list-item {
    background-color:#fff;
    &.selected {
        color:#fff;
        background-color:@primary-color;
        .projects-details-label {
            color:#fff;
        }
    }
}