
// Page-style form background
.form-container-style {
    max-width: 800px;
    margin: 20px;
    border: 1px solid #d6f2f9;
    background-color: #fff;
    > .inner {
      padding: 30px;
      form {
        .form-group {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
}

.nothing-to-show {
   text-align: center;
   position: relative;
   margin-top: 25%;
   font-size: 150%;
   color: #c4e2ef;
   font-weight: bold;
   i {
     display: block;
     font-size: 70px;
     margin-bottom: 10px;
   }
}

.no-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}
