@import 'variables.less';
@import 'buttons.less';

// Used for editing the color of buttons in the sdiebar

.sidebar {
    background-color:@sidebar-color;
    color:@sidebar-text-color;
    a {
        transition:all 0.3s;
        color:@sidebar-text-color;
        &:hover, &:focus {
            color:darken(@sidebar-text-color, 10%);
        }
    }
    button {
        &[class^="action-"],
        &[class*=" action-"] {
            margin: 5px 25px;
            width: 200px;
            height: 50px;
            border-width: 1px;
            border-style: solid;
            border-radius:@button-radius;
            font-size: 15px;
            text-align: center;
            i {
                margin-right: 5px;
            }
        }
    }

    .sidebar-item-title {
        background-color:@sidebar-color;
        color:@sidebar-title-text-color;
    }


    .sidebar-progress {
        z-index: 1;
        width: 0px;
        height:100%;
        position: absolute;
        background: darken(@secondary-color, 10%);
        left: 0px;
        top: 0px;
        opacity: 0.3;
    }

    .sidebar-row, .sidebar-breadcrumb {
        button, a {
            margin: 0;
            color:@sidebar-text-color;
            transition:all 0.3s;
            &:hover {
                color:@sidebar-item-hover-text-color;
            }
        }
    }

    .sidebar-divide {
        background-color:@sidebar-color;
        h3 {
            font-size:13px;
            font-weight:600;
        }
    }

}