@import 'variables.less';

.sidebar {
    background-color:@sidebar-color;
    color:@sidebar-text-color;
    a {
        color:#fff;
        &:hover, &:focus {
            color:#e2e2e2;
        }
    }
}

.sidebar-item-title {
    background-color:@sidebar-title-color;
    color:@sidebar-title-text-color;
}