// Use this file to change the feel of the interface

/*///////////
// Colors
/////////*/

@primary-color:#00DD95;
@ui-color:#333c4e;

@ui-content-header-color:#e0e8f7;
@ui-content-color:#e9f0fa;

@info-color:#2eb398;
@warning-color:#ffa08d;
@alert-color:#ff5567;
@disabled-color:#454545;

/*///////////
// Layout colors
/////////*/

@navigation-color:#293141;
@navigation-text-color:#FFF;
@navigation-hover-text-color:#fff;

@sidebar-title-color:#263944;
@sidebar-title-text-color:#fff;
@sidebar-color:#263944;
@sidebar-text-color:#9cabc4;
@sidebar-item-hover-color: #304652;
@sidebar-item-hover-text-color: #FFF;

@location-color: #2DA4CF;
@location-background-color: #FFF;


/*//////////
// Fonts
////////*/

/*///////////
// Buttons
/////////*/

// Default button
@button-color:#fff;
@button-hover-color:#fff;

@button-text-color:#7787a1;
@button-hover-text-color:#293141;
@button-border:1px solid #7787a1;
@button-hover-border: 1px solid #293141;

// Primary button
@button-primary-color:@primary-color;
@button-primary-hover-color:darken(@primary-color, 10%);

@button-primary-text-color:#fff;
@button-primary-hover-text-color:#fff;

// Warning button
@button-info-color:@info-color;
@button-info-hover-color:darken(@info-color, 10%);

@button-info-text-color:#fff;
@button-info-hover-text-color:#fff;

// Warning button
@button-warning-color:@warning-color;
@button-warning-hover-color:darken(@warning-color, 10%);

@button-warning-text-color:#fff;
@button-warning-hover-text-color:#fff;

// Alert button
@button-alert-color:@alert-color;
@button-alert-hover-color:darken(@alert-color, 10%);

@button-alert-text-color:#fff;
@button-alert-hover-text-color:#fff;

// Disabled button
@button-disabled-color:@disabled-color;
@button-disabled-text-color:#fff;

// button invis
@button-invis-hover-text-color:#fff;
@button-invis-hover-color:#36CDE8;

// button invis blue-background
@button-invis-blue-bg-hover-text-color:#36cde8;
@button-invis-blue-bg-hover-color:#FFF;
 	

// Tag colors
@tag-background-color:#9CABC4;
@tag-title-color:#fff;
