{{> header}}

    <div>
      <h1>{{pageTitle}}</h1>
      <p>Adapt Builder installed successfully!</p>
      <p>Please allow a few seconds for the server to restart, then log in <a href="{{dashboard}}">here</a></p>
    </div>

{{>footer}}
