{{> header}}
  {{#form formAction}}
    <div>
      <h1>Installing Adapt Framework</h1>
      <p>The Adapt framework is a pre-requisite to running this software and must now be installed.</p>
      
    </div>
    {{button "install" "Install Adapt Framework" class="btn install"}}
    <div>
      <textarea class="adapt-output" rows="20" cols="80"></textarea>
    </div>

    <div>
        {{submit 'submit' 'Continue' value="submit"}}
    </div>
  {{/form}}
{{>footer}}
