{{> header}}

    <div>
      <h1>Install</h1>
      <p>Welcome to the Adapt Builder installer. The following screens will help you set up your first user and tenant and to configure your environment.</p>
      <p>Please note that the Builder currently requires that you have a mongodb service running. If you need to install mongodb, you can follow the instructions <a href="http://www.mongodb.org/downloads">here</a></p>
    </div>

    <div>
      {{#form "/install/ffmpeg"}}
        {{submit 'submit' 'Continue' }}
      {{/form}}
    </div>

{{>footer}}
