.global-menu {
    display:none;
    top:61px;
    position:absolute;
    width:260px;
    a {
        display:block;
        text-decoration: none;
    }

    .global-menu-inner {
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
    }

    .global-menu-submenu {
      display:none;
      width:260px;
      position:absolute;
      background-color:#FFF;
      border-top:1px solid #FFF;
      border-left:1px solid #FFF;
    }

    .global-menu-item {

    }

    .global-menu-item-inner {
      padding:14px 18px;
    }

    .global-menu-item-text-inner {
      color: white;
    }
}
