<div class="editor-item-settings handle">
    <div class="editor-item-settings-inner">
        <a href="#" class="open-context-icon open-context-{{_type}}" title="{{t 'app.clicktoedit'}}">
            <i class="fa fa-cog fa-fw"></i>
        </a>
        <a href="#" class="page-article-delete editor-delete-page-element" title="{{ t 'app.clicktodelete'}}">
            <i class="fa fa-trash-o"></i>
        </a>
    </div>
</div>