<div class="sidebar-row">
  <button class="editor-common-sidebar-{{name}}">
    <span class="editor-common-sidebar-{{name}}-inner">
      <i class="fa fa-chevron-right primary-color"/>{{t label}}
    </span>
  </button>
</div>
