<button class="sidebar-fieldset-filter sidebar-fieldset-filter-{{stringToClassName legend}}">
	<span class="sidebar-fieldset-filter-inner">
		<i class="fa fa-toggle-off fa-toggle-on"></i>
		{{legend}}
	</span>
</button>