<div class="sidebar-inner">

  <div class="sidebar-breadcrumb" />

  <div class="action-button-container group" />

  <div class="separator" />

  <div class="link-button-container group" />

  <div class="separator" />

  <div class="custom-button-container group" />

  <div class="fieldset-container group" />

</div>
